#sign-in
  .left.or
    %h4
      Want to get in touch?
    %p Sign into your PetHomeStay account to contact this provider.
    = form_tag user_session_path, class: "form-vertical" do
      %input{type: 'hidden', name: 'redirect_path', value: url_for(provider)}
      .control-group
        = email_field_tag 'user[email]', '', :placeholder => 'Email'
      .control-group
        = password_field_tag 'user[password]', '', :placeholder => 'Password'
        %br/
      .control-group 
        = check_box_tag 'user[remember_me]'
        Remember me
      .control-group 
        = submit_tag 'Sign in', :class => 'btn small primary'
      .control-group
        = link_to "Forgot your password?", new_user_password_path
  .right
    = link_to 'Join us', new_user_registration_path(signup_path: url_for(provider)), class: "btn btn-large btn-primary"
  .clear
