.well.enquire-listing
  = link_to "Enquire now", "#enquire", class: 'btn btn-primary btn-large', 'data-toggle' => 'modal'
  Contact the owner of this listing now!
.modal.hide.fade#enquire
  .modal-header
    %button.close{type: "button", 'data-dismiss' => "modal"} ×
    %h3 Select date of stay
  = form_for @enquiry do |f|
    .modal-body
      %input{type: 'hidden', value: provider.id, name: 'enquiry[homestay_id]'}
      = f.hidden_field :date
      %table.enquire-table
        %tbody
          %tr
            %td
              .enquire-datepicker
            %td
              = f.label :duration, "Arrange for"
              - options = options_for_select([["Morning", 'morning'], ["Afternoon", 'afternoon'], ["Evening", 'evening'], ["Overnight", 'overnight'], ["2 Days", '2days'], ["3 Days", '3days'], ["4 Days", '4days'], ["5 Days", '5days'], ["6 Days", '6days'], ["7 Days", '7days'], ["Longer", 'longerthan7days']])
              = f.select :duration, options
          %tr
            %td{colspan: 2}
              = f.text_area :message, placeholder: 'Enter an optional personal message', class: 'span5', rows: 4
    .modal-footer
      %a.btn{href:"#", 'data-dismiss' => "modal"} Cancel
      = f.submit 'Can you look after my pet?', class: 'btn btn-primary'
