.well.enquire-listing
  - if current_user.pets.present?
    = link_to 'Ask host a question', '#enquire', 'data-toggle' => 'modal', class: 'btn btn-primary btn-large', id: 'ask_host_a_question'
    %p Contact the owner of the listing with any queries or additional information you might need.
  - else
    = link_to 'Ask host a question', new_pet_path(redirect_path: url_for(provider)), class: 'btn btn-primary btn-large disabled'
    You need to
    = link_to 'add a pet', new_pet_path(redirect_path: url_for(provider))
    before you can make an enquiry

.modal.hide.fade#enquire
  .modal-header
    %button.close{type: 'button', 'data-dismiss' => 'modal'} ×
    %h3
      = "Ask #{@homestay.user.first_name.titlecase} a question"
  = simple_form_for @enquiry do |f|
    .modal-body
      %input{type: 'hidden', value: provider.id, name: 'enquiry[homestay_id]'}
      %table.enquire-table
        %tbody
          = f.input_field :duration_id, value: 1, style: 'display:none;'
          %tr
            %td
              - current_date = DateTime.now.strftime('%d/%m/%Y')
              = f.input :check_in_date, as: :date_picker, wrapper_html: { class: 'input-append enabled_datepicker' }, readonly: true,
                        input_html: { value: current_date, class: 'span2 checkin', id: 'datepicker-check-in-date' }
            %td
              = f.input :check_out_date, as: :date_picker, wrapper_html: { class: 'input-append enabled_datepicker' }, readonly: true,
                        input_html: { value: current_date, class: 'span2 checkout', id: 'datepicker-check-out-date' }
          %tr
            %td.message{ colspan: 2 }
              - if last_enquiry.present?
                - last_enquiry_message  = last_enquiry.first['message']
              = f.input :message, placeholder: 'Enter an optional personal message', input_html: { class: 'span7', rows: 4, value: last_enquiry_message }
          %tr
            %td.message{ colspan: 2 }
              = f.check_box :reuse_message, options = {checked: false, class: 'form-checkbox'}
              %span Reuse this message next time I contact a host
    .modal-footer
      %a.btn{ href: '#', 'data-dismiss' => 'modal' } Cancel
      = f.submit 'Submit', class: 'btn btn-primary', id: 'ask_host_a_question_submit'
