.well.enquire-listing
  - if current_user.pets.present?
    = link_to 'Ask host a question', '#enquire', 'data-toggle' => 'modal', class: 'btn btn-primary btn-large', :onclick => "var _gaq = _gaq || []; _gaq.push(['_trackEvent', 'Booking', 'Enquiry', 'Enquiry for #{@homestay.user.first_name.titlecase} Homestay']);"
    %p Contact the owner of the listing with any queries or additional information you might need.
  - else
    = link_to 'Ask host a question', new_pet_path(redirect_path: url_for(provider)), class: 'btn btn-primary btn-large disabled'
    You need to
    = link_to 'add a pet', new_pet_path(redirect_path: url_for(provider))
    before you can make an enquiry

%p or, if you are happy with this HomeStay, and want to reserve it now,
.well.booking-listing
  - if current_user.pets.present?
    = link_to 'Book this PetHomeStay', new_booking_path(homestay_id: provider.id), class: 'btn btn-primary btn-large', :onclick => "var _gaq = _gaq || []; _gaq.push(['_trackEvent', 'Booking', 'Enquiry', 'Enquiry for #{@homestay.user.first_name.titlecase} Homestay']);"
    Contact the owner of this listing now!
  - else
    = link_to 'Book this PetHomeStay', new_pet_path(redirect_path: url_for(provider)), class: 'btn btn-primary btn-large disabled'
    You need to
    = link_to 'add a pet', new_pet_path(redirect_path: url_for(provider))
    before you can make a reservation

.modal.hide.fade#enquire
  .modal-header
    %button.close{type: 'button', 'data-dismiss' => 'modal'} ×
    %h3
      = "Ask #{@homestay.user.first_name.titlecase} a question"
  = simple_form_for @enquiry do |f|
    .modal-body
      %input{type: 'hidden', value: provider.id, name: 'enquiry[homestay_id]'}
      %table.enquire-table
        %tbody
          = f.input_field :duration_id, value: 1, style: 'display:none;'
          %tr
            %td
              -#- current_time = Time.now.strftime('%H:%m')
              - current_date = DateTime.now.strftime('%d/%m/%Y')
              = render partial: 'shared/datetime_field', object: { name: 'enquiry[check_in_date]', label: 'Check in date',
                                                                   value: current_date, readonly: true }
            -#%td
            -#  = render partial: 'shared/time_field', object: { name: 'enquiry[check_in_time]', label: 'Check in time',
            -#                                                   value: current_time, readonly: true }
          %tr
            %td
              = render partial: 'shared/datetime_field', object: { name: 'enquiry[check_out_date]', label: 'Check out date',
                                                                   value: current_date, readonly: true }
            -#%td
            -#  = render partial: 'shared/time_field', object: { name: 'enquiry[check_out_time]', label: 'Check out time',
            -#                                                   value: current_time, readonly: true }
          %tr
            %td.message{ colspan: 2 }
              = f.input :message, placeholder: 'Enter an optional personal message', input_html: { class: 'span7', rows: 4 }
    .modal-footer
      %a.btn{ href: '#', 'data-dismiss' => 'modal' } Cancel
      = f.submit 'Submit', class: 'btn btn-primary'
