%h2#reviews Recent Reviews
- if @reviewed_ratings.present?
  %br
  - @reviewed_ratings.slice(0, 2).each do |feedback|
    .well
      %p
        - rating_stars feedback.rating
      %p= feedback.review
      %p= "- #{feedback.user.first_name}"
  - more_reviews = @reviewed_ratings.slice(2, @reviewed_ratings.count)
  - if more_reviews.present?
    - more_reviews.each do |feedback|
      .well.hide.more-reviews
        %p
          - rating_stars feedback.rating
        %p= feedback.review
        %p= "- #{feedback.user.first_name}"
    .read-more
      %p.tc= link_to_function 'Read more reviews...', "$('.more-reviews').show(); $('.read-more').hide();", class: 'btn'
- else
  No reviews yet
