= simple_form_for [@mailbox, Message.new], html: { class: 'form-horizontal mailbox-messages-form' } do |f|
  = f.input_field :user_id, type: :hidden, value: current_user.id
  = f.input_field :mailbox_id, type: :hidden, value: @mailbox.id
  .well.message-text-mailbox.hidden
    = f.input :message_text, as: :text , input_html: { rows: 3 }
    .controls
      = f.submit 'Submit', class: 'btn btn-primary'
      %input.message-mailbox-cancel.btn.btn-link{ value: 'Cancel', type: 'button' }

  - guest_view = (current_user == @mailbox.guest_mailbox)
  - if guest_view
    %input{ value:  'Send a Message', type: 'button', class: 'btn btn-primary btn-large ask-question-mailbox' }
  - else
    %input{ value: 'Reply', type: 'button', class: 'btn btn-primary btn-large ask-question-mailbox' }


  - if @mailbox.booking.blank? && guest_view
    %span{style: "margin: auto 15px;"} or
    = link_to 'Book this HomeStay', new_booking_path(enquiry_id: @mailbox.enquiry_id), class: 'btn btn-primary btn-large'
  - elsif @mailbox.host_booking?(current_user)
    %span{style: "margin: auto 15px;"} or
    = link_to 'Confirm this HomeStay', host_confirm_booking_path(@mailbox.booking), class: 'btn btn-primary btn-large'
  - elsif !@mailbox.booking.blank? && guest_view && !@mailbox.booking.owner_accepted?
    %span{style: "margin: auto 15px;"} or
    - booking_params = @mailbox.enquiry_id.blank? ? { homestay_id: @mailbox.booking.homestay.id } : { enquiry_id: @mailbox.enquiry_id }
    = link_to 'Book this HomeStay', new_booking_path(booking_params), class: 'btn btn-primary btn-large'
