.page-header
  .pull-left
    %h1= @mailbox.mailbox_subject
  .pull-right
    = link_to 'Back to Inbox', mailboxes_path, class: 'btn btn-primary', style: 'margin-right:10px'
  %br
  %br
  %br
  %h4= @mailbox.all_dates
  .clearfix
- if @messages.present?
  - @messages.each do |message|
    .content{ style: "border: 2px black solid;" }
      .pull-right= message.created_at.strftime("%d/%m/%Y")
      .pull-left= "From: #{(current_user == message.user) ? 'Me' : message.user.first_name.capitalize}"
      %br
      %p= "Message: #{message.message_text}"
    %br
    %br
- else
  %p There are no messages in this inbox

- message = Message.new
= simple_form_for [@mailbox,message], html: { class: 'form-horizontal' } do |f|
  = f.input :message_text, as: :text , input_html: { rows: 3 }
  = f.input_field :user_id, type: :hidden, value: current_user.id
  = f.input_field :mailbox_id, type: :hidden, value: @mailbox.id

  .form-actions
    = f.submit 'Send', class: 'btn btn-primary'
    - if @mailbox.booking.blank? && (current_user == @mailbox.guest_mailbox)
      = link_to 'Book it', new_booking_path(enquiry_id: @mailbox.enquiry_id)

