.span12
  .page-header
    .pull-left
      %h1= @mailbox.subject_message
    %br
    %br
    %br
    %h4= "Booking Date: #{@mailbox.subject_dates}"
    - if current_user == @mailbox.host_mailbox && !@mailbox.booking.blank?
      - booking_status =  @mailbox.booking.host_booking_status
      - booking_address = booking_status.include?('Pending') ? host_confirm_booking_path(@mailbox.booking) : booking_path(@mailbox.booking)
      %h5= link_to(booking_status, booking_address)
    - elsif current_user == @mailbox.guest_mailbox && !@mailbox.booking.blank? && @mailbox.booking.owner_accepted?
      %h5= link_to @mailbox.booking.guest_booking_status, booking_path(@mailbox.booking)

  - if @messages.present?
    - messages_size = @messages.size
    - if messages_size <= 2
      = render partial: 'message', collection: @messages.last(2)
    - else
      = render partial: 'message', collection: @messages

  - else
    %p There are no messages in this inbox

  = render 'form'
