- if user.profile_photo?
  = cl_image_tag user.profile_photo.public_id, width: width, height: width, crop: :thumb, gravity: :face, radius: :max, format: :png, class: 'img-circle search_item_profile_picture'
- elsif user.uid.present?
  = facebook_profile_image_tag user.uid, width: width, height: width, crop: :thumb, gravity: :face, radius: :max, format: :png, class: 'img-circle search_item_profile_picture'
- elsif homestay.present?
  - if homestay.photos?
    = cl_image_tag homestay.photos.first.public_id, width: width, height: width, crop: :thumb, radius: :max, format: :png, class: 'img-circle search_item_profile_picture'
  - elsif homestay.pictures.any?
    = image_tag homestay.pictures.first.file.thumb("#{width}x#{width}#").url, alt: homestay.title, class: 'img-circle search_item_profile_picture'
  - else
    = image_tag 'default_profile_photo.jpg', class: 'img-circle search_item_profile_picture', style: "width:#{width}px;"
- else
  = image_tag 'default_profile_photo.jpg', class: 'img-circle search_item_profile_picture', style: "width:#{width}px;"
