.homestay-form
  %h3 Information for Pet Owners
  %p More information lets owners know exactly what kind of help you can provide. Be honest, and ensure you set expectations correctly.
  .row
    .span7= f.input :title, label: 'Catchy listing title', maxlength: 50
    .span5 Limit of 50 characters
  .row
    .span7
      = f.input :description, label: 'What do you want to tell pet owners about yourself?', input_html: {class: 'span4', rows: 12}
    .span5
      %p Items to include could be:
      %ul
        %li Your style of pet care
        %li Are you active? 2 walks per day, lots of fun and attention?
        %li Are you quiet? Evenings in front of the fire?
        %li Do you provide bedding, toys, treats?
        %li Do you provide a pick up or drop off?
        %li Are you specific about certain times?
      %p Please do not place your phone numbers or alternative website addresses inside your listing. This encourages people to go outside PetHomeStay, which undermines the community as no feedback or trust will be left to help others.
  .row
    .span7
      = f.input :cost_per_night, wrapper_html: {class: 'input-append input-prepend'} do
        .add-on $
        = f.input_field :cost_per_night, class: 'span1'
        .add-on .00
    .span5
      %p The cost is up to you, however we would guide this to be between $15-40 per night depending on your particular PetHomeStay. You can also enter zero dollars and operate a reciprocal agreement with your community - you look after their pets, they will look after yours!
  %h3 Tell us about your PetHomeStay
  = f.input :property_type_id, collection: ReferenceData::PropertyType.all, include_blank: false
  = f.input :outdoor_area_id, label: 'Size of outdoor area', collection: ReferenceData::OutdoorArea.all, include_blank: false

  .grouped-checkboxes
    = label_tag "Professional?", nil, class: 'for-group'
    = f.input :is_professional, as: :boolean, inline_label: 'I am a registered business', label: false
    = f.input :insurance, as: :boolean, inline_label: 'Professional pet-insurance', label: false
    = f.input :first_aid, as: :boolean, inline_label: 'Pet first-aid training', label: false
    = f.input :professional_qualification, as: :boolean, inline_label: 'A professional pet qualification', label: false

  .grouped-checkboxes
    = label_tag "I can provide" , nil, class: 'for-group'
    = f.input :constant_supervision, as: :boolean, inline_label: '24/7 supervision', label: false
    = f.input :supervision_outside_work_hours, as: :boolean, inline_label: 'Supervision outside of work hours (6pm - 8am)', label: false
    = f.input :emergency_transport, as: :boolean, inline_label: 'Emergency transport', label: false

  .grouped-checkboxes
    = label_tag "I have", nil, class: 'for-group'
    = f.input :fenced, as: :boolean, inline_label: 'A fully fenced back yard', label: false
    = f.input :children_present, as: :boolean, inline_label: 'Children under 18 at the address', label: false
    = f.input :police_check, as: :boolean, inline_label: 'A current police check certificate', label: false
    = f.input :website, label: 'Facebook page or website about your service', input_html: {class: 'span4'}

  %h3
    Do you own pets?
    %small Please complete a pet profile after creating your listing
  .control-group
    %label.inline-checkbox
      %input{type: 'hidden', name: 'homestay[pets_present]', value: '0'}
      - if f.object.pets_present?
        %input{type: 'checkbox', name: 'homestay[pets_present]', value: '1', checked: 'checked'}
      - else
        %input{type: 'checkbox', name: 'homestay[pets_present]', value: '1'}
      My pets will be present at this address during PetHomeStay bookings.
  %h3{style: "margin-bottom: 10px;"}
    Your PetHomeStay address
    %small This will be used to place your listing on the map
  = f.input :address_1, label: 'Street address', value: (f.object.address_1.present? ? f.object.address_1 : current_user.address_1)
  .control-group
    .controls
      %input#user_homestay_address_2{name: 'homestay[address_2]', value: (f.object.address_2.present? ? f.object.address_2 : current_user.address_2)}
  = f.input :address_suburb, label: 'Suburb', value: (f.object.address_suburb.present? ? f.object.address_suburb : current_user.address_suburb)
  = f.input :address_city, label: 'City', value: (f.object.address_city.present? ? f.object.address_city : current_user.address_city)
  = f.input :address_country, label: 'Country', priority: [(f.object.address_country.present? ? f.object.address_country : current_user.address_country)]
  %h3{style: "margin-bottom: 10px;"} Other services offered
  .grouped-checkboxes
    = label_tag "I can also offer", nil, class: 'for-group'
    = f.input :pet_feeding, as: :boolean, inline_label: 'pet feeding', label: false
    = f.input :pet_grooming, as: :boolean, inline_label: 'pet grooming', label: false
    = f.input :pet_training, as: :boolean, inline_label: 'pet training', label: false
    = f.input :pet_walking, as: :boolean, inline_label: 'pet walking', label: false
  - if current_user.date_of_birth > 18.years.ago.to_date
    %h3 As you are under 18 years old please confirm
    - error_class = f.object.errors.messages.has_key?(:parental_consent) ? 'error' : ''
    .control-group{class: error_class}
      %label.inline-checkbox
        %input{type: 'hidden', name: 'homestay[parental_consent]', value: '0'}
        = check_box_tag 'homestay[parental_consent]', '1', (f.object.parental_consent == '1' || !f.object.new_record?)
        I have parental consent to look after pets in my home.
  - if f.object.new_record?
    %h3 Acknowlegement
    - error_class = f.object.errors.messages.has_key?(:accept_terms) ? 'error' : ''
    .control-group{class: error_class}
      %label.inline-checkbox
        %input{type: 'hidden', name: 'homestay[accept_liability]', value: '0'}
        = check_box_tag 'homestay[accept_liability]', '1', f.object.accept_liability == '1'
        I understand that as by creating this listing, depending my home state or council laws, I may liable for any damages or 3rd party events which may happen while I am in control of others pets. I accept these risks or have suitable insurance to cover these events.
  %h3 Photo
  %p Please add at least one photo of the very best thing about your PetHomeStay. What makes your PetHomeStay different and special? This could be your great backyard where the pet will hang out, the cozy spot by the fire, or the cuddles that you will give someone's pet. This photo is very important as it is your main listing photo, and is what draws people to your listing! Add as many as you like!
  %p When you have added a photo of your PetHomeStay, it's also important to add a photo of yourself (perhaps having fun with your pet if you have one!) so that a potential Pet Owner can check you out and knows what you look like.
  %p No photos = no enquiries!!
  %table.table.homestay-pictures
    %tbody
      = f.nested_fields_for :pictures do |f|
        %tr.item
          %td
            - if f.object.file.present?
              = image_tag(f.object.file.thumb('200x200').url)
            - else
              = f.input :file, label: 'Upload picture'
            = f.hidden_field :retained_file
          %td
            = link_to 'Remove', '#remove', confirm: "Are you sure?", class: 'remove'
            = f.hidden_field :id
            = f.hidden_field :_destroy
    %table.table#remove.new-picture
      %tr
        %td= link_to '+ Add new picture', '#', class: 'add'
