%table.table.homestay-pictures
  %tbody
    = f.nested_fields_for :pictures do |f|
      %tr.item
        %td
          - if f.object.file.present?
            = image_tag(f.object.file.thumb('200x200').url)
          - else
            = f.input :file, as: :file, label: 'Upload picture'
          = f.hidden_field :retained_file
        %td
          = link_to 'Remove', '#remove', confirm: "Are you sure?", class: 'remove'
          = f.hidden_field :id
          = f.hidden_field :_destroy
  %table.table#remove.new-picture
    %tr
      %td= link_to '+ Add new picture', '#', class: 'add'