%table.table.homestay-pictures
  %tbody
    = f.nested_fields_for :pictures do |fp|
      %tr.item
        %td#image
          - if fp.object.file.present?
            = image_tag(fp.object.file.thumb('300x300').url)
          - else
            = fp.input :file, as: :file, label: 'Upload picture'
          = fp.hidden_field :retained_file
        %td
          = link_to 'Remove', '#remove', confirm: "Are you sure?", class: 'remove'
          = fp.hidden_field :id
          = fp.hidden_field :_destroy
        %td
          - if fp.object.file.present?
            = link_to 'Rotate', rotate_homestay_image_path(f.object['slug'], fp.object['id']), class: 'rotate', remote: true, :method=>:post
  %table.table#remove.new-picture
    %tr
      %td= link_to '+ Add new picture', '#', class: 'add'
= javascript_include_tag 'resample' # library for image resizing
