.span12
  = render partial: 'search_box'
  .row
    = render partial: 'search_map'
    .span8.results
      - if @homestays.present?
        %table.table.table-bordered.table-striped
          %tbody
            - @homestays.each do |homestay|
              = render partial: 'result_row', locals: {homestay: homestay}
        = will_paginate @homestays, renderer: BootstrapLinkRenderer
      - else
        = render partial: 'no_results'
