.row
  .span7
    .row
      - if my_homestay?(@homestay)
        .span7= render partial: 'providers/edit_listing', locals: {provider: @homestay}
      .span5
        %h1= @homestay.title
        %p= "#{@homestay.address_suburb}, #{@homestay.address_city}"
        %p.rating
          - rating_stars @homestay.average_rating
          - if @reviewed_ratings.present?
            %span= link_to "(#{@reviewed_ratings.length} #{'review'.pluralize(@reviewed_ratings.length)})", "#reviews"
          - else
            %span (No reviews yet)
      .span2.pricing
        %h1= number_to_currency(@homestay.cost_per_night)
        %p
          %i per night
    .description
      %p= simple_format @homestay.description
    - unless my_homestay?(@homestay)
      - if signed_in?
        = render partial: 'providers/enquire', locals: {provider: @homestay}
      - else
        .well.listing-form
          = render partial: 'providers/contact_sign_in_form', locals: {provider: @homestay}
    .clear
    = render partial: 'providers/reviews', locals: {provider: @homestay, reviews: @reviewed_ratings}
  .span5
    - if @homestay.pictures.present?
      #homestay-carousel.carousel.slide.span5.thumbnail
        .carousel-inner
          - @homestay.pictures.each_with_index do |picture, i|
            - klass = (i == 0 ? 'active' : '')
            .item{class: klass}= image_tag(picture.file.thumb('380x300#').url)
        = link_to '‹', '#homestay-carousel', 'data-slide' => 'prev', class: 'carousel-control left'
        = link_to '›', '#homestay-carousel', 'data-slide' => 'next', class: 'carousel-control right'
    #map.thumbnail.span5
    %script{type: "application/javascript", src: "/assets/gmaps.js"}
    :javascript
      initMap(#{@homestay.latitude.round(3)}, #{@homestay.longitude.round(3)}, {
        zoom: 16,
        mapTypeControl: false,
        streetViewControl: false,
        zoom_changed: function(){if(map.map.getZoom() > 15) { map.setZoom(15); }
      }})
      setupMarker(#{@homestay.latitude}, #{@homestay.longitude})
    - if signed_in? && !my_homestay?(@homestay)
      %li.span5= render partial: 'providers/give_rating', locals: {provider: @homestay, my_rating: @my_rating}
