- error_class = f.object.errors.messages.has_key?(:accept_house_rules) ? 'error' : ''
.control-group{class: error_class}
  %label.inline-checkbox
    %input{type: 'hidden', name: 'user[accept_house_rules]', value: '0'}
    = check_box_tag 'user[accept_house_rules]', '1', f.object.accept_house_rules == '1'
    I have read and agree to our
    = link_to 'house rules', house_rules_path, target: '_new'
    for the benefit of the community.
- error_class = f.object.errors.messages.has_key?(:accept_terms) ? 'error' : ''
.control-group{class: error_class}
  %label.inline-checkbox
    %input{type: 'hidden', name: 'user[accept_terms]', value: '0'}
    = check_box_tag 'user[accept_terms]', '1', f.object.accept_terms == '1'
    I have read and agree to the PetHomeStay
    = succeed '.' do
      = link_to 'terms and conditions', terms_and_conditions_path, target: '_new'
