.page-header
  %h1
    Sign up
    %small create an account to access all our cool features
- html = {class: 'form-horizontal', multipart: true}
- url = registration_path(resource_name)
= twitter_bootstrap_form_for resource, {:as => resource_name, :url => url, :html => html} do |f|
  = f.hidden_field :email
  = f.hidden_field :address_1
  = f.hidden_field :address_2
  = f.hidden_field :address_suburb
  = f.hidden_field :address_city
  = f.hidden_field :address_country
  = f.hidden_field :address_postcode
  = f.hidden_field :date_of_birth
  = f.hidden_field :first_name
  = f.hidden_field :last_name
  - resource.completed_signup = true
  = f.hidden_field :completed_signup
  %input{type: 'hidden', value: params[:user][:password], name: 'user[password]'}
  %input{type: 'hidden', value: params[:user][:password_confirmation], name: 'user[password_confirmation]'}
  = f.fieldset do
    .row
      .span6.pet-half
        %h3 Want to use one of our great PetHomeStays?
        %p These details get sent to the PetHomeStay host when you request a booking so they can decide whether or not to accept your pet. Please fill out as much detail as you can.
        - unless resource.pets.present?
          - resource.pets.build
          - pets_class = 'unactivated'
        %script#pet-template{type: 'text/x-handlebars-template'}= render partial: 'devise/registrations/pet_fields'
        :javascript
          petTemplate = Handlebars.compile($('#pet-template').html())
        .pets{class: pets_class, 'data-count' => resource.pets.length}
          = link_to_function "Add another pet", "addPet()", class: 'btn add-pet'
        - resource.pets.each_with_index do |pet, i|
          - if pet.pictures[0] && pet.pictures[0].file
            :javascript
              current_image = "#{pet.pictures[0].file.thumb('100x100').url}";
              retained_file = "#{pet.pictures[0].retained_file}";
          - else
            :javascript
              current_image = false;
              retained_file = '';
          :javascript
            petParams = {
              index: #{i},
              number: #{i + 1},
              name: "#{pet.name}",
              age: "#{pet.age}",
              other_pet_type: "#{pet.other_pet_type}",
              microchip_number: "#{pet.microchip_number}",
              council_number: "#{pet.council_number}",
              dislike_loneliness: #{pet.dislike_loneliness || false},
              dislike_children: #{pet.dislike_children || false},
              dislike_animals: #{pet.dislike_animals || false},
              dislike_people: #{pet.dislike_people || false},
              retained_file: retained_file,
              current_image: current_image
            }

            if("#{pet.pet_type}" == "dog") petParams.isDog = true;
            if("#{pet.pet_type}" == "cat") petParams.isCat = true;
            if("#{pet.pet_type}" == "fish") petParams.isFish = true;
            if("#{pet.pet_type}" == "bird") petParams.isBird = true;
            if("#{pet.pet_type}" == "other") petParams.isOther = true;

            if("#{pet.size}" == "small") petParams.isSmall = true;
            if("#{pet.size}" == "medium") petParams.isMedium = true;
            if("#{pet.size}" == "large") petParams.isLarge = true;
            if("#{pet.size}" == "giant") petParams.isGiant = true;

            if("#{pet.sex}" == "male_desexed") petParams.isMaleDesexed = true;
            if("#{pet.sex}" == "female_desexed") petParams.isFemaleDesexed = true;
            if("#{pet.sex}" == "male_entire") petParams.isMaleEntire = true;
            if("#{pet.sex}" == "female_entire") petParams.isFemaleEntire = true;

            pet = petTemplate(petParams);

            $('.add-pet').before(pet);
      - unless resource.homestay.present?
        - resource.build_homestay
        - homestay_class = 'unactivated'
      .span6.divider
        %h3 Love pets and want to make some extra money?
        %p Would you like to help your community with their pets? Maybe make some extra money? Get to know more people in your area? Fill out the form below to get listed on PetHomeStay!
        .span6.homestay-form{class: homestay_class}
          = f.fields_for :homestay do |f|
            = f.label "I would like to make a listing for a (check all that apply)" do |controls|
              = controls.check_box :is_homestay, 'PetHomeStay – you accept other peoples pets for day or overnight homestays at your personal house'
              = controls.check_box :is_sitter, 'Pet Sitting – you are willing to go to other peoples houses and stay there to look after their pets, house & other aspects as needed'
              = controls.check_box :is_services, 'Pet Services – you provide walking, grooming, professional day-care, or other individual or professional pet services except as specified above'
            = f.text_field :title, 'Catchy listing title'
            = f.text_area :description, 'What do you want to tell pet owners about yourself?', class: 'span4', rows: 8
            = f.text_field :years_looking_after_pets, 'Years owning/looking after pets'
            = f.label "I can provide" do |controls|
              = controls.check_box :constant_supervision, '24/7 supervision'
              = controls.check_box :emergency_transport, 'Emergency transport'
            = f.label "I have" do |controls|
              = controls.check_box :first_aid, 'Pet first-aid training'
              = controls.check_box :insurance, 'Professional pet-insurance'
              = controls.check_box :professional_qualification, 'A professional qualification'
            = f.text_field :website, 'Facebook page or website about your service', class: 'span4'
            .specific.homestay
              %h3{style: "margin-bottom: 10px;"}Homestay details
              .control-group
                = label_tag :cost_per_night, "Cost per night", class: 'control-label'
                .controls
                  .input-prepend.input-append
                    .add-on $
                    %input.span1#user_homestay_cost_per_night{name: 'user[homestay_attributes][cost_per_night]'}
                    .add-on .00
              %h3{style: "margin-bottom: 10px;"}
                Confirm your PetHomeStay address
              = f.text_field :address_1, 'Street address', value: params[:user][:address_1]
              .control-group
                .controls
                  %input#user_homestay_address_2{name: 'user[homestay_attributes][address_2]', value: params[:user][:address_2]}
              = f.text_field :address_suburb, 'Suburb', value: params[:user][:address_suburb]
              = f.text_field :address_city, 'City', value: params[:user][:address_city]
              = f.country_select :address_country, 'Country', {priority: [params[:user][:address_country]]}
            .specific.sitter
              %h3{style: "margin-bottom: 10px;"} Pet-sitting details
              .control-group
                = label_tag :cost_per_night, "Cost per night", class: 'control-label'
                .controls
                  .input-prepend.input-append
                    .add-on $
                    %input.span1#user_homestay_cost_per_night{name: 'user[homestay_attributes][cost_per_night]'}
                    .add-on .00
            %h3 Photo
            - if resource.homestay.pictures[0]
              .control-group
                %label.control-label Current image
                .controls
                  = image_tag(resource.homestay.pictures[0].file.thumb('100x100').url)
            - replacing_image = true
            - unless resource.homestay.pictures.present?
              - resource.homestay.pictures.build
              - replacing_image = false
            = f.fields_for :pictures, resource.homestay.pictures[0] do |f|
              - label = replacing_image ? 'Replace image' : 'Upload image'
              = f.file_field :file, label do
                %span.help-inline You can add more photos later
              = f.hidden_field :retained_file
            .specific.homestay.sitter
              %label.inline-checkbox
                %input{type: 'checkbox', name: 'user[homestay_attributes][accept_house_rules]'}
                I have read and agree to our
                = link_to 'House Rules', house_rules_path, target: '_new'
                for the benefit of the community
            %label.inline-checkbox
              %input{type: 'checkbox', name: 'user[homestay_attributes][accept_terms]'}
              I have read and agree to the PetHomeStay
              = link_to 'terms and conditions', terms_and_conditions_path, target: '_new'
      .clearfix
    = f.actions do
      = f.submit 'Create my account'
