.page-header
  %h1
    Sign up
    %small now tell us about your pets or your PetHomeStay! (step 2 of 2)
- html = {class: 'form-horizontal', multipart: true}
- url = registration_path(resource_name)
= twitter_bootstrap_form_for resource, {:as => resource_name, :url => url, :html => html} do |f|
  %input{type: 'hidden', name: 'redirect_path', value: params[:redirect_path]}
  = f.hidden_field :email
  = f.hidden_field :address_1
  = f.hidden_field :address_2
  = f.hidden_field :address_suburb
  = f.hidden_field :address_city
  = f.hidden_field :address_country
  = f.hidden_field :address_postcode
  = f.hidden_field :date_of_birth
  = f.hidden_field :first_name
  = f.hidden_field :last_name
  - resource.completed_signup = true
  = f.hidden_field :completed_signup
  %input{type: 'hidden', value: params[:user][:password], name: 'user[password]'}
  %input{type: 'hidden', value: params[:user][:password_confirmation], name: 'user[password_confirmation]'}
  = f.fieldset do
    .row
      .span6.pet-half
        %h3 My Pet Profiles
        %p In order to book a PetHomeStay, or another service, you need to tell the provider about your pet.
        %p These details except emergency / medical information, council number and microchip number will be sent to the provider in order for them to make a decision on whether or not to acept your request.
        %p As per our House Rules, please be honest and include as much information about your pet as possible.
        - unless resource.pets.present?
          - resource.pets.build
          - pets_class = 'unactivated'
        %script#pet-template{type: 'text/x-handlebars-template'}= render partial: 'devise/registrations/pet_fields'
        :javascript
          petTemplate = Handlebars.compile($('#pet-template').html())
        .pets{class: pets_class, 'data-count' => resource.pets.length}
          = link_to_function "Add another pet", "addPet()", class: 'btn add-pet'
        - resource.pets.each_with_index do |pet, i|
          - errors = pet.errors.messages.inject({}) {|hash, (k,v)| hash["#{k}Error"] = v; hash}.to_json
          - if pet.pictures[0] && pet.pictures[0].file
            :javascript
              current_image = "#{pet.pictures[0].file.thumb('100x100').url}";
              retained_file = "#{pet.pictures[0].retained_file}";
          - else
            :javascript
              current_image = false;
              retained_file = '';
          :javascript
            petParams = $.extend({
              index: #{i},
              number: #{i + 1},
              name: "#{pet.name}",
              breed: "#{pet.breed}",
              age: "#{pet.age}",
              pet_type: "#{pet.pet_type}",
              size: "#{pet.size}",
              sex: "#{pet.sex}",
              other_pet_type: "#{pet.other_pet_type}",
              microchip_number: "#{pet.microchip_number}",
              council_number: "#{pet.council_number}",
              dislike_loneliness: #{pet.dislike_loneliness || false},
              dislike_children: #{pet.dislike_children || false},
              dislike_animals: #{pet.dislike_animals || false},
              dislike_people: #{pet.dislike_people || false},
              retained_file: retained_file,
              current_image: current_image
            }, #{errors})

            pet = petTemplate(petParams);

            $('.add-pet').before(pet);
      - unless resource.homestay.present?
        - resource.build_homestay
        - homestay_class = 'unactivated'
      .span6.divider
        %h3 My PetHomeStay Listing
        %p Would you like to: Help your community? Maybe make some extra money? Get to know other friendly local pet owners like you?
        %p Complete the form below to get listed on PetHomeStay!
        .span6.homestay-form{class: homestay_class}
          = f.fields_for :homestay do |f|
            = f.label "I would like to make a listing for a (check all that apply)" do |controls|
              = controls.check_box :is_homestay, 'PetHomeStay – you accept other peoples pets for day or overnight homestays at your personal house'
              = controls.check_box :is_sitter, 'Pet Sitting – you are willing to go to other peoples houses and stay there to look after their pets, house & other aspects as needed'
              = controls.check_box :is_services, 'Pet Services – you provide walking, grooming, professional day-care, or other individual or professional pet services except as specified above'
            = f.text_field :title, 'Catchy listing title'
            %h3 Information for Pet Owners
            %p More information lets owners know exactly what kind of help you can provide. Be honest, and ensure you set expectations correctly.
            %p Items to include could be:
            %ul
              %li Your style of pet care
              %li Are you active? 2 walks per day, lots of fun and attention?
              %li Are you quiet? Evenings in front of the fire?
              %li Your history with pets.
              %li Do you provide bedding, toys, treats?
              %li Do you provide a pick up or drop off? Are you specific about certain times?
            = f.text_area :description, 'What do you want to tell pet owners about yourself?', class: 'span4', rows: 8
            = f.text_field :years_looking_after_pets, 'Years owning/looking after pets'
            %h3 Tell us about your PetHomeStay
            .specific.homestay
              - options = options_for_select(Homestay::PROPERTY_TYPE_OPTIONS.to_a.map(&:reverse))
              = f.select :property_type, 'Property type', options
              - options = options_for_select(Homestay::OUTDOOR_AREA_OPTIONS.to_a.map(&:reverse))
              = f.select :outdoor_area, 'Size of outdoor area', options
            = f.label "Professional?" do |controls|
              = controls.check_box :constant_supervision, 'I am a registered business with an ABN'
            = f.label "I can provide" do |controls|
              = controls.check_box :constant_supervision, '24/7 supervision'
              = controls.check_box :supervision_outside_work_hours, 'Supervision outside of work hours (6pm - 8am)'
              = controls.check_box :emergency_transport, 'Emergency transport'
            = f.label "I have" do |controls|
              = controls.check_box :first_aid, 'Pet first-aid training'
              = controls.check_box :insurance, 'Professional pet-insurance'
              .specific.homestay
                = controls.check_box :fenced, 'A fully fenced back yard'
                = controls.check_box :children_present, 'Children under 18 at the address?'
              = controls.check_box :police_check, 'A current police check certificate'
              = controls.check_box :professional_qualification, 'A professional pet qualification'
            = f.text_field :website, 'Facebook page or website about your service', class: 'span4'
            .specific.homestay.sitter
              %h3 Pet care nightly rates
              - error_class = resource.homestay.errors.messages.has_key?(:cost_per_night) ? 'error' : ''
              .control-group{class: error_class}
                = label_tag :cost_per_night, "Cost per night", class: 'control-label'
                .controls
                  .input-prepend.input-append
                    .add-on $
                    %input.span1#user_homestay_cost_per_night{name: 'user[homestay_attributes][cost_per_night]'}
                    .add-on .00
            .specific.homestay
              %h3 Own pets?
              %p If you own pets of your own please enter them on the left side of this page.
              .control-group
                %label.inline-checkbox
                  %input{type: 'hidden', name: 'user[homestay_attributes][pets_present]', value: '0'}
                  %input{type: 'checkbox', name: 'user[homestay_attributes][pets_present]', value: '1'}
                  My pets will be present at this address during PetHomeStay bookings.
              %h3{style: "margin-bottom: 10px;"}
                Confirm your PetHomeStay address
              = f.text_field :address_1, 'Street address', value: params[:user][:address_1]
              .control-group
                .controls
                  %input#user_homestay_address_2{name: 'user[homestay_attributes][address_2]', value: params[:user][:address_2]}
              = f.text_field :address_suburb, 'Suburb', value: params[:user][:address_suburb]
              = f.text_field :address_city, 'City', value: params[:user][:address_city]
              = f.country_select :address_country, 'Country', {priority: [params[:user][:address_country]]}
            .specific.services
              %h3{style: "margin-bottom: 10px;"} Services offered
              = f.label "I can offer" do |controls|
                = controls.check_box :pet_feeding, 'pet feeding'
                = controls.check_box :pet_grooming, 'pet grooming'
                = controls.check_box :pet_training, 'pet training'
                = controls.check_box :pet_walking, 'pet walking'
            %h3 Photo
            - if resource.homestay.pictures[0] && resource.homestay.pictures[0].file
              .control-group
                %label.control-label Current image
                .controls
                  = image_tag(resource.homestay.pictures[0].file.thumb('100x100').url)
            - replacing_image = true
            - unless resource.homestay.pictures.present?
              - resource.homestay.pictures.build
              - replacing_image = false
            = f.fields_for :pictures, resource.homestay.pictures[0] do |f|
              - label = replacing_image ? 'Replace image' : 'Upload image'
              = f.file_field :file, label do
                %span.help-inline You can add more photos later
              = f.hidden_field :retained_file
            .specific.homestay.sitter
              - error_class = resource.homestay.errors.messages.has_key?(:accept_house_rules) ? 'error' : ''
              .control-group{class: error_class}
                %label.inline-checkbox
                  %input{type: 'hidden', name: 'user[homestay_attributes][accept_house_rules]', value: '0'}
                  = check_box_tag 'user[homestay_attributes][accept_house_rules]', '1', resource.homestay.accept_house_rules == '1'
                  I have read and agree to our
                  = link_to 'House Rules', house_rules_path, target: '_new'
                  for the benefit of the community
            - error_class = resource.homestay.errors.messages.has_key?(:accept_terms) ? 'error' : ''
            .control-group{class: error_class}
              %label.inline-checkbox
                %input{type: 'hidden', name: 'user[homestay_attributes][accept_terms]', value: '0'}
                = check_box_tag 'user[homestay_attributes][accept_terms]', '1', resource.homestay.accept_terms == '1'
                I have read and agree to the PetHomeStay
                = link_to 'terms and conditions', terms_and_conditions_path, target: '_new'
      .clearfix
    = f.actions do
      = f.submit 'Create my profile'
