.page-header
  %h1
    Sign up
    %small create an account to access all our cool features
- html = {:class => 'form-horizontal'}
- url = registration_path(resource_name)
= form_for resource, {:as => resource_name, :url => url, :html => html} do |f|
  %p 
    Required fields are shown in
    %strong bold
  = devise_error_messages!
  %fieldset
    .control-group.required
      = f.label :email, 'Email address', class: 'control-label'
      .controls
        = f.email_field :email
        .help-inline we promise not to spam you
    .control-group.required
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password
        .help-inline keep it secret, keep it safe
    .control-group.required
      = f.label :password_confirmation, 'Confirm password', class: 'control-label'
      .controls
        = f.password_field :password_confirmation
        .help-inline enter your password once again
    %h3
      We'd love to get to know you!
      %small Tell us a little more about you
    .control-group.required
      = f.label :first_name, 'First name', class: 'control-label'
      .controls
        = f.text_field :first_name
    .control-group.required
      = f.label :last_name, 'Last name', class: 'control-label'
      .controls
        = f.text_field :last_name
    %h3
      Love pets and want to make some extra money?
      %small Get listed on Pet Homestay
    .control-group
      = f.label :i_can, "I would like to", class: 'control-label'
      .controls
        %label.checkbox
          = f.check_box :wants_to_be_sitter
          look after pets in their homes
      .controls
        %label.checkbox
          = f.check_box :wants_to_be_hotel
          look after pets in my home or at my cattery or kennel
    .form-actions
      %button.btn.btn-primary{type: "submit"} Create account
