%p#notice= notice

%dl.dl-horizontal
  %dt Username
  %dd= @account.user.name
  %dt Account Name
  %dd= @account.name
  %dt Bank
  %dd= @account.bank
  %dt BSB
  %dd= @account.bsb
  %dt Account Number
  %dd= @account.account_number
