%p.article-title= "#{@user.first_name} would love some support!"
%p.article-content= " #{@user.first_name} needs support to promote his/her homestya. Please show your support but going to the following URL. www.pethomestay.com.au/support/#{@user.hex}."
%p.article-content PetHomeStay is a community built on trust so any feedback is valuable to other users in making booking decisions.
%p.article-content= @message
%p.article-content Thanks!
%p.article-content The PetHomeStay Team
