%p.article-title
  %strong= "New Message"

%p.article-content
  %i From
  = ": #{@from.first_name.capitalize}"
  %br

%p.article-content
  %strong= "#{@reservation.class.to_s} Details"
%p.article-content
  %i= "Check In Date "
  = ": #{@reservation.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i= "Check Out Date "
  = ": #{@reservation.check_out_date.to_formatted_s(:day_and_month)}"

%p.article-content
  %strong Message:
%p.article-content
  %i= " #{@message.message_text}"

%p.article-content.email-message-reply
  %strong= link_to 'Reply to this message', new_user_session_url, style: 'color:#444444;'

