%p.article-content
  %strong= "#{@user.first_name.capitalize} - You have a new PetHomeStay Message!"

%p.article-content
  %i From
  = ": #{@from.first_name.capitalize}"
  %br

%p.article-content
  %strong= "#{@reservation.class.to_s} Details"
%p.article-content
  %i= "Check In Date "
  = ": #{@reservation.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i= "Check Out Date "
  = ": #{@reservation.check_out_date.to_formatted_s(:day_and_month)}"

%p.article-content
  %strong Message:
%p.article-content
  %i= " #{@message.message_text}"

%p.article-content.email-message-reply
  %strong= link_to 'Reply to this message', mailbox_messages_url(@message.mailbox), style: 'color:#444444;'

%p.article-content Many thanks!
%p.article-content The PetHomeStay Team
