%p.article-content
  %strong= "#{@user.first_name.capitalize} - You have a new PetHomeStay Message!"

%p.article-content
  %i From
  = ": #{@from.first_name.capitalize}"
  %br

- if @message.mailbox.enquiry.blank?
  %p.article-content
    %strong Booking Details
  %p.article-content
    %i Check In Date
    = ": #{@message.mailbox.booking.check_in_date.to_formatted_s(:day_and_month)}"
  %p.article-content
    %i Check Out Date
    = ": #{@message.mailbox.booking.check_out_date.to_formatted_s(:day_and_month)}"
- else
  %p.article-content
    %strong Enquiry Details
  %p.article-content
    %i= "Check In Date "
    = ": #{@message.mailbox.enquiry.check_in_date.to_formatted_s(:day_and_month)}"
  %p.article-content
    %i= "Check Out Date "
    = ": #{@message.mailbox.enquiry.check_out_date.to_formatted_s(:day_and_month)}"

%p.article-content
  %strong Message:
  %i= " #{@message.message_text}"


%p.article-content Many thanks!
%p.article-content The PetHomeStay Team
