.listing{style: 'overflow: hidden; margin-bottom: 40px; border-bottom: '}
  .span6
    .row
      .span4
        %h1= homestay.title
      .span2
        %h1= number_to_currency(homestay.price)
        %p
          %i= 'per night'
    %p= homestay.location
    %p= homestay.description
  .span3
    .thumbnail= link_to image_tag("http://placekitten.com/380/280")
%hr