= simple_form_for(@recommendation) do |f|
  = f.error_notification

  %section.sign-up
    .container
      .col-md-8.col-md-offset-2.col-sm-6
        .panel.panel-info
          .panel-heading
            - if @user.profile_photo?
              = cl_image_tag @user.profile_photo.public_id, crop: :thumb, gravity: :face, radius: :max, format: :png, class: 'img-circle search_item_profile_picture', style: '; margin:5px;'
            - elsif @user.uid.present?
              = facebook_profile_image_tag @user.uid, crop: :thumb, gravity: :face, radius: :max, format: :png, class: 'img-circle search_item_profile_picture', style: '; margin:5px;'
            - else
              = image_tag 'default_profile_photo.jpg', class: 'img-circle search_item_profile_picture', style: 'margin:5px;'
          .panel-body
            .form-group
              .row
                .col-xs-12
                  = f.input :user_id, :as => :hidden, :input_html => {:value => params[:hex]}
                  = f.input :review, label: false, class: 'form-control', placeholder: 'Write something awesome to show your support', input_html: { rows: 4 }
            .form-group
              %a.btn.btn-facebook-sign-up{href: user_omniauth_authorize_path(:facebook)}
                %i.fa.fa-facebook.fa-fw.fa-lg
                SIGN UP WITH FACEBOOK
            %h6.hr
              %span or
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa-fw
                = text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name'
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-envelope.fa-fw
                = f.email_field :email, class: 'form-control', placeholder: 'Email'
            .form-actions
              = f.button :submit, "Leave review and Sign Up", class: 'btn btn-primary form-control submit'
            %p.help-block.text-center
              %small
                By clicking the button below, you agree to our
                = link_to 'house rules', house_rules_path, target: '_blank'
                and
                = link_to 'terms and conditions', terms_and_conditions_path, target: '_blank'  