.pet-fields
  %input{type: 'hidden', name: 'redirect_path', value: params[:redirect_path]}
  .row
    .span6
      .pet-type
        = f.input :pet_type, label: 'Pet type', collection: Pet::PET_TYPE_OPTIONS.to_a.map(&:reverse)
    .span6
      .specific.other
        = f.input :other_pet_type
  .specific.dog.breed
    = f.input :breed, collection: DOG_BREEDS
  .specific.cat.bird.fish.other.breed
    = f.input :breed
  .name
    = f.input :name, label: "Pet's name"
  = f.input :date_of_birth, order: [:day, :month, :year], start_year: Time.now.year, end_year: 1980
  .specific.dog
    = f.input :size, label: 'Size', collection: Pet::SIZE_OPTIONS.to_a.map(&:reverse)
  .specific.dog.cat
    = f.input :sex, label: 'Sex', collection: Pet::SEX_OPTIONS.to_a.map(&:reverse)
  %p Microchipping & council rego not mandatory, however in the event of a lost pet it makes retrevial far easier. PetHomeStay recommends you complete this information as soon as possible.
  .row
    .span5= f.input :microchip_number, label: 'Microchip #'
    .span7= f.input :council_number, label: 'Council Pet Tag Reg. #'
  .row
    .span5
      .dislikes
        = label_tag "My pet doesn't like", nil, class: 'for-group'
        = f.input :dislike_people, as: :boolean, inline_label: 'Other people', label: false
        = f.input :dislike_animals, as: :boolean, inline_label: 'Other animals', label: false
        = f.input :dislike_children, as: :boolean, inline_label: 'Children', label: false
        = f.input :dislike_loneliness, as: :boolean, inline_label: 'Being alone', label: false
    .span7
      .explain-dislikes.hide
        = f.input :explain_dislikes, label: 'Please explain', input_html: {rows: 4, class: 'span7'}
  %p Note: medical information and emergency contact details will only be sent to providers with whom you have confirmed a booking.
  = f.input :medication, label: 'Does your pet need any medication?', input_html: {rows: 4, class: 'span6'}
  .row
    .span6
      = field_set_tag 'Vet details' do
        = f.input :vet_name
        = f.input :vet_phone
    .span6
      = field_set_tag 'Emergency contact details' do
        = f.input :emergency_contact_name, label: 'Contact name'
        = f.input :emergency_contact_phone, label: 'Contact phone'
  = field_set_tag 'Photos' do
    %p Please include at least one photo of you with your pet so people know what you and your pet look like.
    %table.table.homestay-pictures
      %tbody
        = f.nested_fields_for :pictures do |f|
          %tr.item
            %td
              - if f.object.file.present?
                = image_tag(f.object.file.thumb('200x200').url)
              - else
                = f.input :file, label: 'Upload picture'
              = f.hidden_field :retained_file
            %td
              = link_to 'Remove', '#remove', confirm: "Are you sure?", class: 'remove'
              = f.hidden_field :id
              = f.hidden_field :_destroy
      %table.table#remove.new-picture
        %tr
          %td= link_to '+ Add new picture', '#', class: 'add'
