.main.container
  .page-header
    .pull-left
      %h1 My Pet Profiles
    .pull-right
      = link_to 'Back to My Account', my_account_path, class: 'btn', style: 'margin-right:10px'
      = link_to 'Add new pet', new_pet_path, class: 'btn btn-primary'
    .clearfix
  - if @pets.present?
    %table.table.pet-index
      - @pets.each do |pet|
        %tr
          %td.name= pet.name
          %td= link_to "Edit", edit_pet_path(pet), class: 'btn'
          %td= link_to "Remove", pet_path(pet), method: 'DELETE', confirm: "Are you sure you want to remove #{pet.name}?", class: 'btn btn-danger'
  - else
    %p
      You currently have no pets on your account.
      = succeed '.' do
        = link_to 'Add one now', new_pet_path
