- if @bookings.blank?
  %p You have no bookings as a host in your history
- else
  - @bookings.each do |booking|
    %div{class:current_user == booking.bookee ? 'well show-booking-history' : 'well show-booking-history-guest'}
      - guest = booking.booker
      .guest-pic.pull-left

      .booking-info.pull-left
        %p
          %strong Guest Name:
          = guest.name
          %br
          - pet = guest.pet
          %strong Pet Name:
          = "#{pet.name}, "
          %strong Pet Breed:
          = "#{pet.breed.blank? ? 'n/a' : pet.breed}, "
          %strong Pet Age:
          = "#{[pet.age].to_sentence}, "
          %strong Pet Date of Birth:
          = "#{pet.date_of_birth.strftime('%d/%m/%Y')}."
          %br
          %strong Date:
          = " #{booking.check_in_date.strftime('%d/%m/%Y')} - #{booking.check_out_date.strftime('%d/%m/%Y')}"
          %br
          %strong Location:
          = " #{guest.complete_address}"
          %br
          - if current_user == booking.booker
            %strong Amount Paid:
            = " $#{booking.actual_amount}"
            - if booking.state?(:guest_cancelled)
              %br
              = "Trip cancelled #{booking.get_days_before_cancellation} days before Check In Date"
              %br
              = "Amount refunded to Guest as per Cancellation Policy - $#{booking.refund}"
          - else
            %strong Payout:
            = " $#{booking.host_payout}"

      .view-receipt.pull-right
        %span.confirmed-block
          = booking_status_for_listing(booking)
        %br
        - if Booking.valid_host_view_booking_states_list.include?(booking.state.to_sym)
          - if current_user == booking.booker
            = link_to 'View Receipt', booking_path(booking, anchor: 'trips'), class: 'btn btn-primary'
          - else
            = link_to 'View Receipt', booking_path(booking), class: 'btn btn-primary'
        - elsif current_user == booking.booker
          = link_to 'Finish Payment', new_booking_path(homestay_id: booking.homestay.id), class: 'btn btn-primary'
        - if not is_canceled_booking?(booking) and booking.owner_view?(current_user) and booking.get_days_left >= 0 #don't allow a booking to be canceled if it's an old one
          %br
          = link_to 'Cancel', guest_canceled_booking_path(booking), class: 'btn btn-primary cancel-booking-btn', id: 'cancel-booking'

  - if !@trips and can_host_request_cancel_any_bookings?
    = link_to 'Need to cancel a booking?', host_cancellation_bookings_path

