= simple_form_for @booking, html: { class: 'form-horizontal' } do |f|
  The Host Booking being requested for cancellion is:
  = "#{@booking.bookee.name} #{@booking.bookee.pet.name}, #{@booking.bookee.pet.breed} "
  = f.input :cancel_reason, input_html: { value: f.object.cancel_reason }, readonly: false
  .form-actions
    = f.submit 'Confirm cancellation of this booking', class: 'btn btn-primary', id: 'booking_confirm_by_host'