= render partial: 'standard_cancel_submit',format: 'js', locals: {form_name: "#host_cancel_form", cancel_reason_area_name: "#booking_cancel_reason", button: "#request_host_cancel"}


= simple_form_for @booking, :url=> host_confirm_cancellation_booking_path(@booking),html: { id: 'host_cancel_form', class: 'form-horizontal' } do |f|
  %h4
    Host Cancellation Request
  - if @one_booking
    = render partial: 'cancel_host_text'
  %p
    The Host Booking being requested for cancellation is:
  %table#bookingtbl{:border=>0}
    %tr
      %td
        Guest Name:
      %td
        ="#{f.object.booker.name}"
    %tr
      %td
        Pet Name:
      %td
        = "#{UserDecorator.new(f.object.booker).pet.name}"
    %tr
      %td
        Pet Breed:
      %td
        = "#{UserDecorator.new(f.object.booker).pet.breed}"
    %tr
      %td
        Start Date:
      %td
        = "#{f.object.check_in_date.strftime('%d/%m/%Y')}"
    %tr
      %td
        End Date:
      %td
        = "#{f.object.check_out_date.strftime('%d/%m/%Y')}"

  %p

    = f.input :cancel_reason, required: true, input_html: { :id=>'cancel_reason_area',:rows => 8, value: f.object.cancel_reason }, wrapper_html: {class: 'control-group text required booking_cancel_reason ' + ('error' unless @booking_errors.blank? ).to_s} do
      = f.input_field :cancel_reason,:as => :text, :rows => 8, value: f.object.cancel_reason
      %span.help-inline
        - if @booking_errors
          = @booking_errors
        - else
          &nbsp;
  %p
    PetHomeStay will call your mobile to confirm the cancellation and background to arrange any next steps.

  .form-actions
    = link_to 'Request cancellation of this booking', '#requestcancel', 'data-toggle' => 'modal', class: 'btn btn-primary', id: 'request_host_cancel'

  .modal.hide.fade#requestcancelbooking
    .modal-header
      %button.close{type: 'button', 'data-dismiss' => 'modal'} ×
      .modal-body
        Are you sure you want to cancel? After confirming, PetHomeStay will receive your cancellation request and will be in touch via phone to confirm this with you and inform the Guest. We appreciate your working with us to help this Guest and for being a part of our community.
        .pull-right
          = f.submit 'OK', class: 'btn btn-primary', style: 'margin-top: 20px;', id: 'booking_confirm_by_host'
