
%input{ "type" => "hidden", "name" => "EPS_MERCHANT", "value" => ENV['MERCHANT_ID'] }
%input{ "type" => "hidden", "name" => "EPS_TXNTYPE", "value" => "1" }
- test_reference = "Test Reference"
%input{ "type" => "hidden", "name" => "EPS_REFERENCEID", "value" => test_reference }
- payment_amount = "109.00"
%input{ "type" => "hidden", "name" => "EPS_AMOUNT", "value" => payment_amount }
%input{ "type" => "hidden", "id" => "EPS_RESULTURL", "name" => "EPS_RESULTURL", "value" => root_url + ENV['TRANSACTION_RESULT_URL'] }
%input{ "type" => "hidden", "name" => "EPS_REDIRECT", "value" => "TRUE" }
- time_stamp = Time.now.gmtime.strftime("%Y%m%d%H%M%S")
%input{ "type" => "hidden", "name" => "EPS_TIMESTAMP", "value" => time_stamp }
- fingerprint_string = "#{ENV['MERCHANT_ID']}|#{ENV['TRANSACTION_PASSWORD']}|1|#{test_reference}|#{payment_amount}|#{time_stamp}"
- require 'digest/sha1'
%input{ "type" => "hidden", "name" => "EPS_FINGERPRINT", "value" => Digest::SHA1.hexdigest(fingerprint_string) }

.control-group.string
  %label.string.control-label
    Credit Card fields