%p
  Please confirm your cancellation&#8230;
%p
  Cancellations happen for all sorts of reasons - perhaps your holiday isn't going ahead  or maybe you are going to take your pet with you!
%p
  However, based on your booking, a Host has committed themselves and blocked out their time for you.
  This means they may have missed out on looking after other pets instead, so it is only fair we compensate them if you change your mind.
  Likewise PetHomeStay has incurred costs like booking insurance on your behalf with our underwriter.
%p
  PetHomeStay has a standard cancellation policy for all stays booked through us. For cancellations occurring :-
%ul
  %li
    More than 14 days away, all of the fee is returned.
  %li
    Between 14 - 7 days, 50% of the fee is returned
  %li
    Less than 7 days, no fee is returned.
%p
  We deduct our Service Fee of 15% and Insurance of $2 per night on all cancellations.
%h4
  Cancellation Summary
%p
  = "Your original Booking request from (#{@booking.check_in_date.strftime('%d/%m/%Y')}) - (#{@booking.check_out_date.strftime('%d/%m/%Y')}) was $(#{@booking.subtotal})"
%p
  Based on the current date and time, there is (x) days left until your Stay commences.
%p
  This means the total booking fee refunded will be $(x).
%p
  To confirm this cancellation, please let us know why, enter your bank details and press submit.
%p
  Please confirm your bank account details so that we can reimburse you - we are not responsible for incorrect refunds due to account errors!
%p
  = render :partial => 'accounts/form'