.container
  .row
    .col-md-12.hidden-xs
      %h3 Stay Details
    .col-md-12.col-xs-12
      %table.table.table-striped.table-condensed
        %tr
          %td
            %strong Host
          %td= @booking.homestay.user.name
        %tr
          %td
            %strong Homestay
          %td= @booking.homestay.title
        %tr
          %td
            %strong Check in Date
          %td= @booking.check_in_date.strftime("%A, %d/%m/%Y")
        %tr
          %td
            %strong Check out Date
          %td= @booking.check_out_date.strftime("%A, %d/%m/%Y")
        %tr
          %td
            %strong Days
          %td= @booking.number_of_nights
  .row
    .col-xs-12
      %h3 Pets
      %table.table.table-striped.table-condensed
      - @booking.booker.pets.each do |pet|
        %tr
          %td
          %table.table.table-striped.table-condensed
            %tr
              %td Name
              %td= pet.name
            %tr
              %td Type
              %td= pet.pet_type_name
            %tr
              %td Age
              %td= pet.age
  .row
    .col-xs-12.col-md-6
      %h3.text-center Booking Details
      %table.table.table-striped
        %tr
          %td.current-daily-price Daily Rate
          %td= number_to_currency(@booking.cost_per_night)
        %tr
          %td.current-total-price Total Rate
          %td
            %strong= number_to_currency(@booking.subtotal)
  .row
    .col-xs-12
      %hr
      - if @booking.payment
        %p= "Paid by #{@booking.booker.name} at #{@booking.payment.created_at.strftime('%H:%M on %d/%m/%Y')}"
