.span12
  .page-header
    .pull-left
      %h1 Host Booking Cancellation
    .clear
    Please select a Booking to Cancel:
    %br
    = form_tag '/bookings/host_cancel', :class => 'simple-form' do
      - booking_hash = {}
      - @bookings.each do |booking|
        - booking_hash["#{booking.booker.name}, Start Date: #{booking.check_in_date.strftime('%d/%m/%Y')}"] = booking.id
      = select(:booking, :cancelled_booking,booking_hash)
      = render partial: 'cancel_host_text'
      = submit_tag   'Cancel selected booking'
