.page-header
  .pull-left
    %h1 Confirm your reservation
  .pull-right
    = link_to 'Back to My Account', my_account_path, class: 'btn'
  .clear

= render 'booking_form'

%hr
%form.form-horizontal.payment_form{ method: 'post', action: ENV['TRANSACTION_POST_ACTION'] }
  = render 'transaction_hidden_fields'
  = render partial: 'shared/form_text_field', object: { name: 'EPS_CARDNUMBER', value: '', label: 'Card number',
                                                        required: true }
  = render partial: 'shared/form_text_field', object: { name: 'EPS_CCV', value: '', label: 'CVV', required: true,
                                                        class: 'span1', tooltip: true,
                                                        message: 'CVV: 3-4 digit number, written on back of the card.' }
  = render 'transaction_month_year_fields'

  .form-actions
    %input.btn.btn-primary{ type: 'submit', value: 'Book Reservation' }
