.container
  .row
    .col-md-12.hidden-xs
      %h1.text-center Booking receipt
    .hidden-md.hidden-sm.hidden-lg.col-xs-12
      %h1.text-center Receipt
  .row
    - host = @booking.bookee
    .col-xs-12
      %table.table.table-striped.table-condensed
        %tr
          %td
            %strong Host
          %td= host.name
        - if host.received_feedbacks.present?
          - rating_stars host.average_rating
          %tr
            %td
              %strong Feedback
            %td= "#{host.average_rating} #{'star'.pluralize(host.average_rating)}"
        %tr
          %td
            %strong Description
          %td= host.homestay.description
          %tr
            %td
              %strong Check in date
            %td= @booking.check_in_date.strftime('%d/%m/%Y')
          %tr
            %td
              %strong Check out date
            %td= @booking.check_out_date.strftime('%d/%m/%Y')
        %tr
          %td
            %strong Number of nights
          %td= @booking.number_of_nights
  .row
    .col-xs-12
      %h3.text-center Booking Details
      %table.table.table-striped
        %tr
          %td Daily Rate
          %td= number_to_currency(@booking.cost_per_night)
        %tr
          %td Total Rate
          %td= number_to_currency(@booking.subtotal)
        %tr
          %td Credit Card Fee
          %td= number_to_currency(@booking.transaction_fee)
        - if @booking.coupon
          %tr
            %td Discount (code: #{@booking.coupon.code})
            %td= number_to_currency(@booking.coupon.discount_amount)
        %tr
          %td
            %strong Total
          %td= number_to_currency(@booking.payment.amount)
    %hr
  .row
    .col-xs-12
      %h3.text-center= "Payment successfully made on #{@booking.payment.created_at.in_time_zone('Melbourne').strftime("%A, %d/%m/%Y at %l:%M %p %Z")}"
    %hr
  