.page-header
  .pull-left
    %h1 Transaction Results
  .pull-right
    = link_to 'Back to My Account', my_account_path, class: 'btn'
    = link_to 'Retry Transaction', new_booking_path, class: 'btn btn-primary'
  .clear

%form.form-horizontal{ method: 'post', action: '' }

  = render partial: 'shared/form_text_field', object: { name: 'transaction[id]', label: 'Transaction id',
                                                        value: params['txnid'], disabled: true }
  = render partial: 'shared/form_text_field', object: { name: 'transaction[preauthid]', label: 'Pre-authorisation id',
                                                        value: params['preauthid'], disabled: true }
  = render partial: 'shared/form_text_field', object: { name: 'transaction[result]', label: 'Result',
                                                        value: params['restext'], disabled: true }
