.page-header
  .pull-left
    %h1 Booking Details

  .pull-right
    = link_to 'Back to My Account', my_account_path, class: 'btn'
  .clear

= simple_form_for @booking, html: { class: 'form-horizontal' } do |f|
  - host_view = @booking.host_view?(current_user)
  - user_name = host_view ? @booking.booker.name : current_user.name
  - pet_name = host_view ? @booking.booker.pet_name : current_user.pet_name

  = f.input :guest_name, input_html: { value: user_name }, readonly: true, label: host_view ? 'Guest name' : 'My name'
  = f.input :pet_name, input_html: { value: pet_name }, readonly: true
  = f.input :message, as: :text, input_html: { rows: 3 }, readonly: true, label: host_view ? 'Guest message' : 'My message'

  %hr
  = f.input :check_in_date, as: :date_picker, wrapper_html: { class: "input-append" }, readonly: true, input_html: { value: @booking.check_in_date.strftime("%d/%m/%Y"), class: 'span2 checkin' }
  = f.input :check_in_time, as: :time_picker, wrapper_html: { class: "input-append" }, readonly: true, input_html: { value: @booking.check_in_time.strftime("%H:%M") }
  %br
  = f.input :check_out_date, as: :date_picker, wrapper_html: { class: "input-append" }, readonly: true, input_html: { value: @booking.check_out_date.strftime("%d/%m/%Y"), class: 'span2 checkout' }
  = f.input :check_out_time, as: :time_picker, wrapper_html: { class: "input-append" }, readonly: true, input_html: { value: @booking.check_out_time.strftime("%H:%M") }
  = f.input :number_of_nights, readonly: true, as: :string

  %hr
  - wrapper_class = 'input-prepend input-append'
  = f.input :cost_per_night, as: :currency, wrapper_html: { class: wrapper_class }, label: 'Rate per night', readonly: true
  %br
  = f.input :subtotal, as: :currency, wrapper_html: { class: wrapper_class }, readonly: true
  %br
  = f.input :fees, as: :currency, wrapper_html: { class: wrapper_class }, input_html: { value: @booking.transaction_fee }, readonly: true
  %br
  = f.input :amount, as: :currency, wrapper_html: { class: wrapper_class }, label: 'Total', readonly: true

  %hr
  = f.input :payment, input_html: { value: 'Credit Card' }, readonly: true, label: 'Payment method'

  - if @booking.host_accepted?
    %hr
    = f.input :response_message, input_html: {rows: 3, class: 'input-xxlarge', value: @booking.response_message.blank? ? 'none' : @booking.response_message }, readonly: true

