= twitter_bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.fieldset 'Forgot your password?' do
    = f.email_field :email, "Email address you signed up with"
    = f.actions do
      = f.submit "Send me reset password instructions"
