%h2 Great! You want to house-sit for others and look after their pets.
%p We need to know some basic information about you so we can put you in touch with eager pet owners.
.progress
  .bar{style: "width: 0%"}
= render layout: 'form' do |f|
  %h3
    Rate per night
    %small How much do you charge?
  .control-group
    = label_tag :cost_per_night, "Price (#{I18n.t('currency')})", class: 'control-label'
    .controls
      .input-prepend.input-append
        .add-on $AUD
        = text_field :sitter, :cost_per_night
        .add-on .00
  %h3
    Distance
    %small How far away from your home are you willing to travel?
  .control-group
    = label_tag :distance, 'Distance (km)', class: 'control-label'
    .controls
      = text_field :sitter, :distance
      #distance-slider
      %span.distance
  %h3
    Your address
    %small This information will remain private
  = f.fields_for @sitter.user do |f|
    = f.text_field :address_1
    = f.text_field :address_2
    = f.text_field :address_suburb
    = f.text_field :address_city
    = f.text_field :address_country
