%section.footer
    .container
        .span3
            %h4 Support
            = render 'shared/footer/list_item', text: 'Guest FAQ', url: guest_faq_path
            = render 'shared/footer/list_item', text: 'Host FAQ', url: host_faq_path
            = render 'shared/footer/list_item', text: 'Support Centre', url: 'http://support.pethomestay.com'
            = render 'shared/footer/list_item', text: 'Call 1300 660 945', url: 'tel:+61-1300-660-945'
            %h4.connect Connect with Us
            -# Google Plus
            %a{href: "https://plus.google.com/+PetHomeStay/", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(235, 97, 96)"}
                    %i.fa.fa-google-plus.fa-stack-1x
            -# Twitter
            %a{href: "https://twitter.com/PetHomeStay", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(98, 205, 241)"}
                    %i.fa.fa-twitter.fa-stack-1x
            -# Facebook
            %a{href: "https://www.facebook.com/PetHomeStay", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(81, 124, 193)"}
                    %i.fa.fa-facebook.fa-stack-1x
            -# Linkedin
            %a{href: "https://www.linkedin.com/company/pethomestay-com", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(49, 128, 174)"}
                    %i.fa.fa-linkedin.fa-stack-1x
            -# Email
            %a{href: "mailto:support@pethomestay.com", target: "_blank"}
                %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x{style: "color: rgb(34, 96, 116)"}
                    %i.fa.fa-envelope-o.fa-stack-1x
        .span8
            .row
                .span2.offset1
                    %h4 Learn More
                    = render 'shared/footer/list_item', text: 'Read Our Blog', url: blogit_path
                    = render 'shared/footer/list_item', text: 'Become a Sitter', url: why_join_path
                    = render 'shared/footer/list_item', text: 'Find a Sitter', url: root_path
                    = render 'shared/footer/list_item', text: 'Contact Us', url: new_contact_path
                .span2
                    %h4 About
                    = render 'shared/footer/list_item', text: 'The Team', url: the_team_path
                    = render 'shared/footer/list_item', text: 'In the Press', url: press_path
                    = render 'shared/footer/list_item', text: 'Jobs', url: jobs_path
                    = render 'shared/footer/list_item', text: 'Investors', url: investors_path
                    = render 'shared/footer/list_item', text: 'Partners', url: partners_path
                    = render 'shared/footer/list_item', text: 'Terms of Service', url: terms_and_conditions_path
                    = render 'shared/footer/list_item', text: 'Privacy Policy', url: privacy_policy_path
                    %a{href: 'http://www.pethomestay.com/robots.txt', hidden: ''} Sitemap
                .span3
                    %h4 Top Pet Host Cities
                    = render 'shared/footer/list_item', text: 'Melbourne', url: melbourne_path
                    = render 'shared/footer/list_item', text: 'Sydney', url: sydney_path
                    = render 'shared/footer/list_item', text: 'Brisbane', url: brisbane_path
                    = render 'shared/footer/list_item', text: 'Adelaide', url: adelaide_path
                    = render 'shared/footer/list_item', text: 'Gold Coast', url: gold_coast_path
                    = render 'shared/footer/list_item', text: 'Perth', url: perth_path
                    = render 'shared/footer/list_item', text: 'Darwin', url: darwin_path
                    = render 'shared/footer/list_item', text: 'Newcastle', url: newcastle_path
