
.foot-container
    %nav
        %h3 SUPPORT
        .item= link_to "Pet Owner FAQ"
        .item= link_to "Host FAQ"
        .item= link_to "Support Center"
        .item Call 0555-555-555

    %nav
        %h3 LEARN MORE
        .item= link_to "Blog"
        .item= link_to "Become a Sitter"
        .item= link_to "Charity Donations"
        .item= link_to "Contact Us"
    %nav
        %h3 LEARN MORE
        .item= link_to "Blog"
        .item= link_to "Become a Sitter"
        .item= link_to "Charity Donations"
        .item= link_to "Contact Us"

    %nav
        %h3 LEARN MORE
        .item= link_to "Blog"
        .item= link_to "Become a Sitter"
        .item= link_to "Charity Donations"
        .item= link_to "Contact Us"


