%p.article-title Pet Details
- if @guest.pet.pictures.present?
  %p.article-content= image_tag(@guest.pet.pictures.first.file.thumb('190x150#').url)
%p.article-content
  %i Pet Name
  = ": #{@guest.pet_names}"
%p.article-content
  %i Pet Breed
  = ": #{@guest.pet_breed.blank? ? 'n/a' : @guest.pet_breed}"
%p.article-content
  %i Pet Age
  = ": #{@guest.pets.map(&:age).to_sentence}"
%br
