.bg
.jumbotron
    .container
        %h1 Find Trusted, Local Pet Sitters
        = render partial: 'home/host_search_bar'
        .media
            = image_tag "home/media/herald_sun.png",       style: "height: 50px;"
            = image_tag "home/media/news_com_au.png",      style: "height: 40px;"
            = image_tag "home/media/huffington_post.png",  style: "height: 70px;"
            = image_tag "home/media/startup_smart.gif",    style: "height: 40px;"
            = image_tag "home/media/daily_telegraph.png",  style: "height: 30px;"
            = image_tag "home/media/financial_review.png", style: "height: 65px;"
