.bg
.jumbotron
    .container
        %h1 Find Trusted, Local Pet Sitters
        = render partial: 'home/host_search_bar'
        .media
            = image_tag "home/media/herald_sun.png", id: "herald-sun"
            = image_tag "home/media/news_com_au.png"
            = image_tag "home/media/startup_smart.gif", id: "startup-smart"
            = image_tag "home/media/daily_telegraph.png", id: "daily-telegraph"
            = image_tag "home/media/financial_review.png", id: "financial-review"
            %span#cc
                <strong>COLLABORATIVE</strong>CONSUMPTION.COM
