%section.meet-community
    .container-fluid
        %h2.text-center Meet the Community
        .row.hidden-xs
            .story.col-md-4.col-sm-6
                = image_tag "home/three_stories/first_story.png", alt: "Steve & Buddy"
                .caption
                    %h3 Steve & Buddy
                    %h5.text-center Hamption, VIC
            .story.col-md-4.col-sm-6
                = image_tag "home/three_stories/second_story.png", alt: "Amy & Rascal"
                .caption
                    %h3 Amy & Rascal
                    %h5.text-center Richmond, VIC
            .story.col-md-4.hidden-xs.hidden-sm
                = image_tag "home/three_stories/third_story.png", alt: "Jody & Snow"
                .caption
                    %h3 Jody & Snow
                    %h5.text-center Black Rock, VIC
        .row.hidden-xs
            .col-md-4.col-sm-6
                %p Buddy was cared for like a dear family member, and we felt that he was safe and secure. I received pictures and daily updates, which was extremely comforting.
            .col-md-4.col-sm-6.hidden-xs
                %p Rachel was extremely professional, accommodating, and thoughtful to both us and the dogs - one of which is diabetic and requires multiple shots of insulin daily.
            .col-md-4.hidden-xs.hidden-sm
                %p It is hard for me to explain my complete, amazing pleasure and joy with Michael. My puppy LOVES him! I LOVE him!
        .row.visible-xs-block
            #story-carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "8000", style: "background-color: black"}
                -# Indicators
                %ol.carousel-indicators
                    %li.active{"data-slide-to" => "0", "data-target" => "#story-carousel"}
                    %li{"data-slide-to" => "1", "data-target" => "#story-carousel"}
                    %li{"data-slide-to" => "2", "data-target" => "#story-carousel"}
                -# Wrapper for slides
                .carousel-inner
                    .item.active
                        = image_tag "home/three_stories/first_story.png", alt: "Steve & Buddy"
                        .carousel-caption
                            .h3 Steve & Buddy
                            .p Buddy was cared for like a dear family member, and we felt that he was safe and secure. I received pictures and daily updates, which was extremely comforting.
                    .item
                        = image_tag "home/three_stories/second_story.png", alt: "Amy & Rascal"
                        .carousel-caption
                            .h3 Amy & Rascal
                            .p Rachel was extremely professional, accommodating, and thoughtful to both us and the dogs - one of which is diabetic and requires multiple shots of insulin daily.
                    .item
                        = image_tag "home/three_stories/third_story.png", alt: "Jody & Snow"
                        .carousel-caption
                            .h3 Jody & Snow
                            .p It is hard for me to explain my complete, amazing pleasure and joy with Michael. My puppy LOVES him! I LOVE him!
                -# Controls
                %a.left.carousel-control{"data-slide" => "prev", href: "#story-carousel", role: "button"}
                    %i.icon-prev.fa.fa-chevron-left
                %a.right.carousel-control{"data-slide" => "next", href: "#story-carousel", role: "button"}
                    %i.icon-next.fa.f-chevron-right
