%p.article-title= "Brilliant! The booking for #{@guest.first_name.capitalize} on #{@booking.check_in_date.strftime("%A, %d %B, %Y")} completed"

%p.article-content
  %i Guest Name
  = ": #{@guest.first_name.capitalize}"
%br

= render 'shared/pet_details'

%p.article-title Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.strftime("%A, %d/%m/%Y")}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.strftime("%A, %d/%m/%Y")}"
%p.article-content
  %i Number of stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": #{number_to_currency(@booking.cost_per_night)}"
%p.article-content
  %i Subtotal
  = ": #{number_to_currency(@booking.subtotal)}"
%p.article-content
  %i PetHomeStay Service Fee (15%)
  = ": #{number_to_currency(@booking.phs_service_charge)}"
%p.article-content
  %i Insurance
  = ": #{number_to_currency(@booking.public_liability_insurance)}"
%p.article-content
  %strong
    %i Total Payout
  = ": #{number_to_currency(@booking.host_payout)}"
%br

%p.article-content Thanks!
%p.article-content The PetHomeStay Team
