%p.article-title= "Brilliant! You have confirmed your service availability for #{@guest.first_name.capitalize}!"

%p.article-content
  %i Guest Name
  = ": #{@guest.first_name.capitalize}"

= render 'shared/pet_details'

%p.article-title Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Number of stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": $#{@booking.actual_value_figure(:cost_per_night)}"
%p.article-content
  %i Subtotal
  = ": $#{@booking.actual_value_figure(:subtotal)}"
%p.article-content
  %i PetHomeStay Service Fee (15%)
  = ": $#{@booking.phs_service_charge}"
%p.article-content
  %i Insurance
  = ": $#{@booking.public_liability_insurance}"
%p.article-content
  %strong
    %i Total Payout
  = ": $#{@booking.host_payout}"
%br

%p.article-content Thanks!
%p.article-content The PetHomeStay Team
