%p.article-title= "Brilliant! You have confirmed your service availability for #{@guest.first_name.capitalize}!"

%p.article-content
  %i Guest Name
  = ": #{@guest.first_name.capitalize}"

- if @guest.pet.pictures.present?
  %p.article-content= image_tag(@guest.pet.pictures.first.file.thumb('190x150#').url)
%p.article-content
  %i Pet Name
  = ": #{@guest.pet_names}"
%p.article-content
  %i Pet Breed
  = ": #{@guest.pet_breed.blank? ? '-' : @guest.pet_breed }"
%p.article-content
  %i Pet Age
  = ": #{@guest.pets.map(&:age).to_sentence}"
%p.article-content
  %i Date of Birth
  = ": #{@guest.pet.date_of_birth.to_formatted_s(:day_and_month_and_year)}"
%p.article-content
  %strong
    %i Dislike Loneliness
  = ": #{@guest.pet.dislike_loneliness? ? 'Yes' : 'No'}, "
  %strong
    %i Dislike Children
  = ": #{@guest.pet.dislike_children? ? 'Yes' : 'No'}, "
  %strong
    %i Dislike Animals
  = ": #{@guest.pet.dislike_animals? ? 'Yes' : 'No'}, "
  %strong
    %i Dislike People
  = ": #{@guest.pet.dislike_people? ? 'Yes' : 'No'}."
- if @guest.pet.any_dislikes?
  %p.article-content
    %i Dislike explanation
    = ": #{@guest.pet.explain_dislikes}."

%p.article-content
  %strong
    %i Flee treated
  = ": #{@guest.pet.flea_treated? ? 'Yes' : 'No'}, "
  %strong
    %i Vaccinated
  = ": #{@guest.pet.vaccinated? ? 'Yes' : 'No'}, "
  %strong
    %i House Trained
  = ": #{@guest.pet.house_trained? ? 'Yes' : 'No'}."

%p.article-content
  %i Microchip Number
  = ": #{@guest.pet.microchip_number}"
%p.article-content
  %i Council Number
  = ": #{@guest.pet.council_number}"

%p.article-content
  %i Emergency Contact Name
  = ": #{@guest.pet.emergency_contact_name}"
%p.article-content
  %i Emergency Contact Phone
  = ": #{@guest.pet.emergency_contact_phone}"
%p.article-content
  %i Vet Name
  = ": #{@guest.pet.vet_name}"
%p.article-content
  %i Vet Phone
  = ": #{@guest.pet.vet_phone}"
%p.article-content
  %i Medication
  = ": #{@guest.pet.medication}"
%br

%p.article-title Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Number of stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": $#{@booking.cost_per_night.to_i}.00"
%p.article-content
  %i Subtotal
  = ": $#{@booking.subtotal}.00"
%p.article-content
  %i PetHomeStay Service Fee (15%)
  = ": $#{@booking.service_fee}.00"
%p.article-content
  %i Insurance
  = ": $#{@booking.insurance}.00"
%p.article-content
  %strong
    %i Total Payout
  = ": $#{@booking.amount.to_i}.00"
%br

%p.article-content Thanks!
%p.article-content The PetHomeStay Team
