%html
  %head
    %meta{content: "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %p= "You've accepted an enquiry from #{@user.first_name}"
    %p You can contact them with the following details:
    - if @user.phone_number.present?
      %p= "Home phone: #{@user.phone_number}"
    - if @user.mobile_number.present?
      %p= "Mobile phone: #{@user.mobile_number}"
    %p= "Email address: #{@user.email}"
