%p.article-title
  %strong New PetHomeStay Booking

%p.article-content
  %i From
  = ": #{@guest.first_name.capitalize}"
%br
%p.article-title Message
%p.article-content
  %i= @enquiry.message.blank? ? '-' : @enquiry.message

%p.article-title Booking Details
%p.article-content
  %i Check In Date
  = ": #{date_day_monthname(@enquiry.check_in_date)}"
%p.article-content
  %i Check Out Date
  = ": #{date_day_monthname(@enquiry.check_out_date)}"
%br

= render 'shared/pet_details'

%p.article-content.email-message-reply
  %strong= link_to 'REPLY', host_messages_url, style: 'color:#444444;'
%p.article-content.text-muted Hosts should reply within 24 hours to maintain their Responsiveness Rating!
%p.article-content.text-muted Please click the above link and NOT use your email client as it will not go to the Guest! 
%br

