%p.article-title= "Fantastic! #{@user.first_name} has confirmed their enquiry"
%p.article-content= "#{@user.first_name} has confirmed their enquiry and is happy with you looking after #{@user.pet_names} on #{@enquiry.date.to_formatted_s(:day_and_month)} for #{@enquiry.natural_duration}!"

%p.article-content= "All of the information we have about #{@user.pet_names} is on the pet profile below. You should review this in full when the owner hands over their #{'pet'.pluralize(@user.pets.length)} with you."

%p.article-content Don’t forget the following points:
%ul
  %li.article-content Follow the House Rules
  %li.article-content Confirm pick up times / dates?
  %li.article-content Money for looking after pet?
  %li.article-content Confirm medical & emergency contact info?
  %li.article-content Is there anything else on the pet profile you need to know?

%p.article-title Pet Profile Information
%p.article-content TODO: Put full pet profile here

%p.article-content Thanks for helping out with PetHomeStay!
%p.article-content The PetHomeStay Team
