%p.article-content
  %strong New PetHomeStay Booking
%p.article-content
  %i Guest Name
  = ": #{@guest.first_name.capitalize}"

= render 'shared/pet_details'

%p.article-content
  %strong Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Number of stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": $#{@booking.actual_value_figure(:cost_per_night)}"
%p.article-content
  %i Subtotal
  = ": $#{@booking.actual_value_figure(:subtotal)}"
%p.article-content
  %i PetHomeStay Service Fee (15%)
  = ": $#{@booking.phs_service_charge}"
%p.article-content
  %i $10M PetHomeStay Host Insurance : INCLUDED
  %i $2.5k Vet Emergency Cover : INCLUDED
  %i 24x7 Emergency Helpline : INCLUDED
%p.article-content
  %strong
    %i Total Payout
  = ": $#{@booking.host_payout}"
%br

%p.article-content
  %strong Message:
%p.article-content
  %i= @booking.message.blank? ? '-' : @booking.message
%p.article-content
  Reply to this message
  %strong= link_to 'here', host_messages_url
%br



