%p.article-title= "Fantastic! #{@user.first_name} has confirmed their enquiry"
%p.article-content= "#{@user.first_name} has confirmed their enquiry and is happy with you looking after #{@user.pet_names} on #{@enquiry.date.to_formatted_s(:day_and_month)} for #{@enquiry.duration.natural}!"

%p.article-content= "All of the information we have about #{@user.pet_names} is on the pet profile below. You should review this in full when the owner hands over their #{'pet'.pluralize(@user.pets.length)} with you."

%p.article-content Don’t forget the following points:
%ul
  %li.article-content
    %strong Follow the House Rules
  %li.article-content Confirm pick up times / dates?
  %li.article-content Money for looking after pet?
  %li.article-content Confirm medical & emergency contact info?
  %li.article-content Is there anything else on the pet profile you need to know?

%p.article-title= "Details for #{@user.first_name}"
%p.article-content
  = "Full name: #{@user.name}"
  %br
  = "Email: #{@user.email}"
  - if @user.phone_number.present?
    %br
    = "Phone: #{@user.phone_number}"
  - if @user.mobile_number.present?
    %br
    = "Mobile: #{@user.mobile_number}"
  %br
  Address:
  %br
  = @user.address_1
  - if @user.address_2.present?
    %br
    = @user.address_2
  %br
  = @user.address_suburb
  %br
  = @user.address_city

- @pets.each do |pet|
  %p.article-title= "Details for #{pet.name}"
  - if pet.pictures.present?
    %p.article-content= image_tag(pet.pictures.first.file.thumb('190x150#').url)
  %p.article-content
    = "Type: #{pet.pet_type_name}"
    %br
    = "Age: #{pet.age}"
    %br
    = "Size: #{pet.size_name}"
    %br
    = "Sex: #{pet.sex_name}"
    %br
    = "Dislikes: #{pet.dislikes}"
    %br
  - if pet.dislikes.present?
    %p.article-content= "More information about dislikes: #{pet.explain_dislikes}"
  - if pet.council_number.present? || pet.microchip_number.present? || pet.medication.present? || pet.emergency_contact_name.present? || pet.vet_name.present?
    %p.article-title= "Emergency / medical details for #{pet.name}"
    %p.article-content
      - if pet.council_number.present?
        = "Council #: #{pet.council_number}"
        %br
      - if pet.microchip_number.present?
        = "Microchip #: #{pet.microchip_number}"
        %br
      - if pet.medication.present?
        = "Medication: #{pet.medication}"
        %br
      - if pet.emergency_contact_name.present? && pet.emergency_contact_phone.present?
        = "Emergency contact name: #{pet.emergency_contact_name}"
        %br
        = "Emergency contact phone: #{pet.emergency_contact_phone}"
        %br
      - if pet.vet_name.present? && pet.vet_phone.present?
        = "Vet name: #{pet.vet_name}"
        %br
        = "Vet phone: #{pet.vet_phone}"
        %br

%p.article-content Thanks for helping out with PetHomeStay!
%p.article-content The PetHomeStay Team
