%p#notice= notice

%dl.dl-horizontal
  %dt Name
  %dd= @pet.try(:name)
  %dt Owner Name
  %dd= @pet.user.try(:name)
  %dt Created
  %dd= @pet.created_at
  %dt Type
  %dd= @pet.try(:pet_type_name)
  %dt Breed
  %dd= @pet.try(:breed)
  %dt Date of birth
  %dd= @pet.try(:date_of_birth)
  %dt Sex
  %dd= @pet.try(:sex_name)
  %dt Size
  %dd= @pet.try(:size_name)

%table.pictures
  %caption Pictures
  - @pet.pictures.each_slice(2) do |pictures|
    %tr
    - pictures.each do |picture|
      %td
        = image_tag(picture.file.thumb('380x300#').url)

= link_to 'Edit', edit_admin_pet_path(@pet), class: 'btn btn-primary'
= link_to 'Back to pet list', admin_pets_path, class: 'btn'
