.row.footer-boxes
  - if !current_user
    .span4
      %h2 What is Pet Homestay?
      %p
        Pet Homestay is the first Australian and New Zealand community that allows pet owners to find local friendly homestays for their pet!
        %br
        %br
        We match people who love looking after pets with people who need their pets looking after!
      = link_to "Who we are", what_is_path, class: 'btn'
    .span4
      %h2 How does it work?
      %p PetHomeStay is a free service that allows pet owners to find amazing local pet helpers & services in Australia and New Zealand. Simply register a profile of your pet, select the right pet service provider for their needs, and give feedback based on your experience.
      = link_to "Learn more", how_does_it_work_path, class: 'btn'
    .span4
      %h2 Love pets?
      %p If you just love looking after animals then you can be a PetHomeStay service provider. From professional dog kennels and daycare, to casual walkers or overnight stays at your place, you can earn money doing what you love!
      = link_to 'Get started today', new_user_registration_path, class: "btn btn-primary"
  - else
    .span4
      %h2 What is Pet Homestay?
      %p
        Pet Homestay is the first Australian and New Zealand community that allows pet owners to find local friendly homestays for their pet!
        %br
        %br
        We match people who love looking after pets with people who need their pets looking after!
      = link_to "Who we are", what_is_path, class: 'btn'
    .span4
      %h2 Become a sitter
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales fringilla libero eu scelerisque. Quisque consequat, orci quis condimentum mattis, turpis magna lobortis nibh, et sollicitudin lorem velit sed nisl. Curabitur et varius risus.
      = link_to "Become a sitter", sitter_steps_path, method: 'POST', class: 'btn btn-primary'
    .span4
      %h2 Start a pet hotel
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales fringilla libero eu scelerisque. Quisque consequat, orci quis condimentum mattis, turpis magna lobortis nibh, et sollicitudin lorem velit sed nisl. Curabitur et varius risus.
      = link_to "Start a pet hotel", hotel_steps_path, method: 'POST', class: 'btn btn-primary'
