= stylesheet_link_tag 'new_home'
= render partial: 'home/nav_bar'
= render partial: 'home/jumbotron'
= render partial: 'home/three_steps'
= render partial: 'home/why_phs'
= render partial: 'home/meet_community'
= render partial: 'home/bottom_search'
= render partial: 'home/footer'
