.row
  .span7
    .row
      - if my_sitter?(@sitter)
        .span7= render partial: 'providers/edit_listing', locals: {provider: @sitter}
      .span5
        %h1= @sitter.title
        %p= "#{@sitter.address_suburb}, #{@sitter.address_city}"
        %p.rating
          - rating_stars @sitter.average_rating
          - if @reviewed_ratings.present?
            %span= link_to "(Read reviews)", "#reviews"
          - else
            %span (No reviews yet)
      .span2.pricing
        %h1= number_to_currency(@sitter.cost_per_night)
        %p
          %i per night
    .description
      %p= simple_format @sitter.description
    - unless my_sitter?(@sitter)
      - if signed_in?
        .well.enquire-listing
          = link_to "Enquire now", edit_hotel_path(@sitter), class: 'btn btn-primary btn-large'
          Contact the owner of this listing now!
      - else
        .well.listing-form
          = render partial: 'providers/contact_sign_in_form', locals: {provider: @sitter}
          = render partial: 'providers/contact_sign_up_form', locals: {provider: @sitter}
    .clear
    = render partial: 'providers/reviews', locals: {provider: @sitter, reviews: @reviewed_ratings}
  .span5
    %ul.thumbnails
      - if @sitter.pictures.present?
        %li.span5
          .slider
            = link_to image_tag(@sitter.pictures.first.file.thumb('380x').url), @sitter, class: "thumbnail"
      - if signed_in? && !my_sitter?(@sitter)
        %li.span5= render partial: 'providers/give_rating', locals: {provider: @sitter, my_rating: @my_rating}
