.row
  .span6
    %h1
      Contact us
      %small We would love to hear from you!
    %p.text-warning Please fill out this form and we will get in touch with you shortly.
    = simple_form_for @contact do |f|
      = f.input :name
      = f.input :email
      = f.input :message, as: :text, input_html: { rows: 10 }
      %div
        = f.submit 'Send', class: 'btn btn-primary'

  .span6
    %p.first Comments, barks, emails, tweets, meows,  posts, circles – however you want to connect with us is just fine.
    %p Don’t forget to follow our blog, Facebook pages and Twitter feed to get the latest news!
    = image_tag 'dog-w-camera.jpg', class: 'picture'
    %ul.unstyled
      %li
        %strong Blog -
        %strong
          %a{href: "http://pethomestay.wordpress.com", target: "_blank", title: "Blog"} pethomestay.wordpress.com
      %li
        %strong Facebook -
        %strong
          %a{href: "http://www.facebook.com/PetHomeStay", target: "_blank", title: "Facebook"} facebook.com/pethomestay
      %li
        %strong Twitter -
        %strong
          %a{href: "http://twitter.com/pethomestay", target: "_blank", title: "Twitter"} @pethomestay
      %p Thanks!
      %p The PetHomeStay Team
      %p PetHomeStay Pty Ltd (ABN 80159944868)
