= simple_form_for([:admin, @pet]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :pet_type, collection: ReferenceData::PetType.all
    = f.input :breed
    = f.input :date_of_birth, order: [:day, :month, :year], start_year: Time.now.year, end_year: 1980
    = f.input :microchip_number, label: 'Microchip #'
    = f.input :council_number, label: 'Council Pet Tag Reg. #'
    = f.input :vet_name
    = f.input :vet_phone
    = f.input :emergency_contact_name, label: 'Contact name'
    = f.input :emergency_contact_phone, label: 'Contact phone'
    -#.grouped-checkboxes
    -#  .dislikes
    -#    = label_tag "My pet doesn't like", nil, class: 'for-group'
    -#    = f.input :dislike_people, as: :boolean, inline_label: 'Other people', label: false
    -#    = f.input :dislike_animals, as: :boolean, inline_label: 'Other animals', label: false
    -#    = f.input :dislike_children, as: :boolean, inline_label: 'Children', label: false
    -#    = f.input :dislike_loneliness, as: :boolean, inline_label: 'Being alone', label: false

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', admin_pets_path, class: 'btn'
