%p#notice= notice

%dl.dl-horizontal
  %dt About
  %dd= @enquiry.homestay.title
  %dt From
  %dd= @enquiry.user.name
  %dt Created
  %dd= @enquiry.created_at
  %dt Duration
  %dd= @enquiry.duration_name
  %dt Response
  %dd= @enquiry.response_name
  %dt Confirmed
  %dd= @enquiry.confirmed?
  %dt Owner Accepted
  %dd= @enquiry.owner_accepted?
  %dt Message
  %dd= @enquiry.message


= link_to 'Edit', edit_admin_enquiry_path(@enquiry), class: 'btn btn-primary'
= link_to 'Back', admin_enquiries_path, class: 'btn'
