%p#notice= notice

%dl.dl-horizontal.enquiry
  %dt Homestay
  %dd
    = link_to @enquiry.homestay.title, admin_homestay_path(@enquiry.homestay)
    = "(#{@enquiry.homestay.user.mobile_number || @enquiry.homestay.user.phone_number})"
  %dt From
  %dd
    = link_to @enquiry.user.name, admin_user_path(@enquiry.user)
    = "(#{@enquiry.user.mobile_number || @enquiry.user.phone_number})"
  %dt Created
  %dd= l @enquiry.created_at
  %dt Check in date/time
  %dd= date_day_month_year_format(@enquiry.check_in_date)
  %dt Check out date/time
  %dd= date_day_month_year_format(@enquiry.check_out_date)
  %dt Custom Price (per night)
  %dd= number_to_currency(@enquiry.proposed_per_day_price)
  %dt Duration
  %dd= @enquiry.duration_name
  %dt Response
  %dd= @enquiry.response_name
  %dt Confirmed
  %dd= @enquiry.confirmed?
  %dt Owner Accepted
  %dd= @enquiry.owner_accepted?
  %dt Feedback for owner
  %dd
    - feedback_for_owner_label(@enquiry)
  %dt Feedback for homestay
  %dd
    - feedback_for_homestay_label(@enquiry)
  %dt Message from Pet Owner
  %dd= @enquiry.message ||'No message'
  %dt Reply from Homestay
  %dd= @enquiry.response_message || 'No Reply message'


= link_to 'Edit', edit_admin_enquiry_path(@enquiry), class: 'btn btn-primary'
= link_to 'Back to enquiry list', admin_enquiries_path, class: 'btn'
