%p.article-title Booking Confirmation

%p.article-content Your PetHomeStay Host has confirmed their Booking.
%p.article-content= "The next step is simply for you to handover your pet to #{@host.first_name.capitalize} at the agreed place and time."


%p.article-content When you handover your pet, make sure you:
%ul
  %li.article-content Review pick up times & dates
  %li.article-content Review Emergency & contact details
  %li.article-content Bring food for your pet (owners provide this unless otherwise agreed!)
  %li.article-content Bring a favourite toy or bedding so your pet feels at home
  %li.article-content Any special instructions such as feeding or walking you may have
%br

%p.article-content
  Don’t forget to follow the
  = succeed '.' do
    = link_to('House Rules', house_rules_url)

%p.article-content
  and read the
  = link_to 'Cancellation Policy', cancellation_policy_url
  and
  = succeed '.' do
    = link_to 'Insurance Policy', insurance_policy_url

%p.article-title.strong Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Number of Stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": $#{@booking.actual_value_figure(:cost_per_night)}"

%p.article-content
  %strong
    %i Total Amount Paid
  = ": $#{@booking.actual_value_figure(:amount)}"
%br

= render 'shared/brief_pet_details'

%p.article-title.strong Host Details
%p.article-content
  %i Listing
  \:
  = link_to "#{@homestay.title} in #{@homestay.address_suburb}", homestay_url(@homestay)
  - if @homestay.pictures.present?
    %p.article-content= link_to image_tag(@homestay.pictures.first.file.thumb('190x150#').url), homestay_url(@homestay)
%p.article-content
  %i Name
  = ": #{@host.name}"
%p.article-content
  %i Email
  = ": #{@host.email}"
- if @host.phone_number.present?
  %p.article-content
    %i Phone
    = ": #{@host.phone_number}"
- if @host.mobile_number.present?
  %p.article-content
    %i Mobile
    = ": #{@host.mobile_number}"
%p.article-content
  %i Address
  = ": #{@homestay.address_1}"
  = @homestay.address_suburb
  = @homestay.address_city
- if @homestay.address_2.present?
  %p.article-content
    %i Address 2
    = ": #{@homestay.address_2}"

%p.article-content Thanks and don’t forget to leave feedback for the Host at the end of the Stay!

