%p.article-title Brilliant! #{@host.first_name.capitalize} has confirmed his service availability for you!
%p.article-content= "Here is all of the contact details we have for #{@host.first_name.capitalize} so you have a record."
%p.article-content The next step is simply for you to handover your pet to the provider at the agreed place and time.
%p.article-content
  Don’t forget to follow the
  = succeed '.' do
    = link_to('House Rules', house_rules_url)
%p.article-content When you handover your pet, make sure you:
%ul
  %li.article-content Review pick up times & dates
  %li.article-content Review Emergency & contact details
  %li.article-content Transaction for the service as agreed
  %li.article-content Bring food for your pet (owners provide this unless otherwise agreed!)
  %li.article-content Bring a favourite toy or bedding so they feel at home
  %li.article-content Any special instructions such as feeding or walking

%p.article-title Booking Details
%p.article-content
  %i Check In Date
  = ": #{@booking.check_in_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Check Out Date
  = ": #{@booking.check_out_date.to_formatted_s(:day_and_month)}"
%p.article-content
  %i Number of stays (24 hour blocks)
  = ": #{@booking.number_of_nights}"
%p.article-content
  %i Rate per night
  = ": $#{@booking.actual_value_figure(:cost_per_night)}"
%p.article-content
  %i Subtotal
  = ": $#{@booking.actual_value_figure(:subtotal)}"
%p.article-content
  %i Credit Card Fee
  = ": $#{@booking.credit_card_fee}"
%p.article-content
  %strong
    %i Total Amount Paid
  = ": $#{@booking.actual_value_figure(:amount)}"
%br

%p.article-title Provider details for your records
%p.article-content
  Listing:
  = link_to "#{@homestay.title} in #{@homestay.address_suburb}", homestay_url(@homestay)
  - if @homestay.pictures.present?
    %p.article-content= link_to image_tag(@homestay.pictures.first.file.thumb('190x150#').url), homestay_url(@homestay)
  %p.article-content
    = "Provider's name: #{@host.name}"
    %br
    = "Provider's email: #{@host.email}"
    - if @host.phone_number.present?
      %br
      = "Provider's phone: #{@host.phone_number}"
    - if @host.mobile_number.present?
      %br
      = "Provider's mobile: #{@host.mobile_number}"
    %br
    Address:
    %br
    = @homestay.address_1
    - if @homestay.address_2.present?
      %br
      = @homestay.address_2
    %br
    = @homestay.address_suburb
    %br
    = @homestay.address_city
    %br
    Professional?:
    - if @homestay.is_professional?
      Yes
    - else
      No
    %br
    Property type:
    = @homestay.property_type_name
    %br
    Outdoor area:
    = @homestay.outdoor_area_name
    %br
    Fenced?:
    - if @homestay.fenced
      Yes
    - else
      No
    %br
    - if @homestay.supervision?
      Supervision?:
      = @homestay.pretty_supervision
      %br
    - if @homestay.emergency_preparedness?
      Emergency preparedness?:
      = @homestay.pretty_emergency_preparedness
      %br

%p.article-content Thanks and don’t forget to leave feedback via PetHomeStay on the provider!
%p.article-content The PetHomeStay Team
