%p.article-title Great news!
%p.article-content= "#{@provider.first_name} has indicated they are available to look after #{@owner.pet_name} on #{@enquiry.date.to_formatted_s(:day_and_month)}!"
- if @enquiry.response_message.present?
  %p.article-content= "#{@provider.first_name} has also included the following message:"
  %p.article-content
    %strong= @enquiry.response_message
%p.article-title What happens next
%p.article-content= "Contact #{@provider.first_name} to work out any additional details you want to know. Make sure you are fully confident of leaving your pet in their care - see our guidelines below if you have not used PetHomeStay before!"
%p.article-content
  = "Name: #{@provider.name}"
  %br
  = "Email address: #{@provider.email}"
  - if @provider.phone_number.present?
    = "Home phone: #{@provider.phone_number}"
    %br
  - if @provider.mobile_number.present?
    = "Mobile phone: #{@provider.mobile_number}"
  %br
  Listing:
  = link_to "#{@homestay.title} in #{@homestay.address_suburb}", homestay_url(@homestay)
  - if @homestay.pictures.present?
    %p.article-content= link_to image_tag(@homestay.pictures.first.file.thumb('190x150#').url), homestay_url(@homestay)
%p.article-title Next steps
%p.article-content Once you have received a couple of responses, select the provider you want to use and accept via PetHomeStay. (A provider can cancel any indicated availability up to being confirmed, so don’t leave it too long!)
%p.article-content Once confirmed, both you and the provider are committed to the booking.
%p.article-content Your entire pets profile details will be sent to the Provider, including emergency contact details.
%p.article-content Any cancellations after this stage will incur the providers cancellation policy, if any, and the likelihood of negative feedback from the community!
%p= link_to "Please confirm or cancel this booking on PetHomeStay", enquiry_confirmation_url(@enquiry), class: 'btn'
%p.article-title If you have not user a provider before
%ul
  %li.article-content Be prepared to go to see the PetHomeStay or service
  %li.article-content Be upfront and honest about the type of help you expect
  %li.article-content Ensure both you and the provider have read and understand our House Rules
  %li.article-content NEVER leave your pet with, or invite into your home, someone you do not trust!
  %li.article-content Ask as many questions as you like, and remember that you do not have to accept anything whilst contacting the service provider. The only way a booking is confirmed is via your PetHomeStay notification screen.

%p.article-content Thanks and happy PetHomeStaying!
%p.article-content The PetHomeStay Team
