%p.article-title Brilliant! You've confirmed a great PetHomeStay service near you!
%p.article-content= "Here is all of the contact details we have for #{@provider.first_name} so you have a record."
%p.article-content The next step is simply for you to handover your pet to the provider at the agreed place and time.
%p.article-content 
  Don’t forget to follow the
  = succeed '.' do
    = link_to('House Rules', house_rules_url)
%p.article-content When you handover your pet, make sure you:
%ul
  %li.article-content Review pick up times & dates
  %li.article-content Review Emergency & contact details
  %li.article-content Payment for the service as agreed
  %li.article-content Bring food for your pet (owners provide this unless otherwise agreed!)
  %li.article-content Bring a favourite toy or bedding so they feel at home
  %li.article-content Any special instructions such as feeding or walking
%p.article-title Provider details for your records
%p.article-content
  Original listing:
  = link_to 'View on PetHomeStay.com', homestay_url(@homestay)
  %br
  = "Listing title: #{@homestay.title}"
  %br
  = "Provider's name: #{@provider.name}"
  %br
  = "Provider's email: #{@provider.email}"
  - if @provider.phone_number.present?
    %br
    = "Provider's phone: #{@provider.phone_number}"
  - if @provider.mobile_number.present?
    %br
    = "Provider's mobile: #{@provider.mobile_number}"
  %br
  Address:
  %br
  = @homestay.address_1
  - if @homestay.address_2.present?
    %br
    = @homestay.address_2 
  %br
  = @homestay.address_suburb
  %br
  = @homestay.address_city

%p.article-content Thanks and don’t forget to leave feedback via PetHomeStay on the provider!
%p.article-content The PetHomeStay Team
