%p.article-title= "Hi #{@owner.first_name},"
%p.article-content Sorry, but this provider is unavailable on the dates you have requested, although they would be happy to be asked again later!
- if @enquiry.response_message.present?
  %p.article-content= "#{@provider.first_name} has also included the following message:"
  %p.article-content
    %strong= @enquiry.response_message

%p.article-content
  Name:
  = @provider.first_name
  %br
  Title:
  = @homestay.title
  %br
  Date requested:
  = @enquiry.check_in_date.to_formatted_s(:day_and_month)

%p.article-content Try asking another couple of providers, or expanding your search to a wider area.

%p.article-content Good Luck!
%p.article-content The PetHomeStay Team
