%p.article-title= "Hi #{@owner.first_name},"
%p.article-content= "#{@provider.first_name} has sent you a message:"
%p.article-content
  %strong= @enquiry.response_message

%p.article-content
  Name:
  = @provider.first_name
  %br
  Title:
  = @homestay.title
  %br
  Date requested:
  = @enquiry.check_in_date.to_formatted_s(:day_and_month)

%p.article-content The PetHomeStay Team
