:css
  #infoa { margin-top: -5px;}
.span12
  .page-header
    .pull-left
      %h1 Listing Availability Details

    .pull-right
      = link_to 'Back to My Account', my_account_path, class: 'btn'
    .clear


  .alert.fade.in.success.hide#calendar_update_alert
    Calendar updated successfully

  #update-calendar
    %span.pull-left
      %i Calendar already up to date, but want your profile to show a recent updated time?
    = link_to 'Update Calendar', "javascript:" , class: 'btn pull-right', id: "update-calendar-btn"
  .clear

  #calendar

  %table.table.tablesorter
    %thead
      %tr
        %th Title
        %th Suburb
        %th Created
        %th Active?
        %th Approved?
        %th Actions
    %tbody
      %tr
        %td= link_to @homestay.title, homestay_path(@homestay)
        %td= @homestay.address_suburb
        %td= @homestay.created_at.to_formatted_s(:year_month_day)
        %td{:id => "is_active_" + @homestay.id.to_s}
          =@homestay.active? ? "Active" : "Inactive"
        %td{:id => "is_locked_" + @homestay.id.to_s}
          =@homestay.locked? ? "Pending Approval" : "Approved"
        %td
          =link_to 'Edit', edit_homestay_path(@homestay)
          -if !@homestay.locked
            =link_to @homestay.active? ? 'Deactivate' : 'Activate', homestay_activate_path(@homestay), id: 'active_toggle_' + @homestay.id.to_s, remote: true, :method=>:post
        %td
          = image_tag 'info-image.png', id: "infoa",class: "icon", rel: "tooltip", :'data-placement'=>"top", :'title'=>'You can choose to temporarily take a break from PetHomeStay. If you select "deactivate" your listing will not take new bookings and you will not appear in searches.'
