.page-header
  %h1= "Leave feedback for #{@subject.first_name}"
= twitter_bootstrap_form_for @feedback, url: enquiry_feedback_path(@enquiry) do |f|
  .row
    .span6{style: 'padding-top:30px'}
      = f.hidden_field :rating
      - if f.object.errors.present?
        %p.tc.red= "How would you rate the way #{@subject.first_name} handled this booking?"
      - else
        %p.tc= "How would you rate the way #{@subject.first_name} handled this booking?"
      .rater
        - rating_stars 0
    .span6
      %textarea.review-text.span6{placeholder: "Type your review here...", rows: 6, name: "feedback[review]"}
        = f.object.review
  = f.actions do
    = f.submit 'Submit feedback'
