%h2 Sorry. We don't have anyone in your area yet.
%p PetHomeStay is looking to expand throughout all of Australia during 2013. Why not become the first Host in your area, or sign up to be told when there is a new Host near you?
= image_tag 'woman-dog-banner.jpg', class: 'thumbnail woman-dog-banner', width: '612px'
- if current_user
  - unless current_user.homestay.present?
    %h4= "Could you be one of the first pet sitters for #{@search.location}?"
    %p Be the first to look after some awesome and adorable pets in your neighbourhood. You can earn extra money doing what you love, or build goodwill with other pet owners for when you need your pet looked after.
    = link_to "Start a PetHomeStay", new_homestay_path, class: 'btn btn-primary'
  %hr
  %h4= "Want to sign up to be notified of new sitters in #{@search.location}?"
  %p Click below and we'll keep you informed of any new sitters in the region.
  %form.form-inline.notify{action: "http://send.uprise.co.nz/t/r/s/jyuitjj/", method: "post"}
    = hidden_field_tag :name, current_user.name, name: "cm-name", class: 'span2'
    = hidden_field_tag 'cm-jyuitjj-jyuitjj', current_user.email, class: 'span2'
    = hidden_field_tag 'cm-f-gdjktr', @search.location
    = submit_tag 'Notifiy me', class: 'btn btn-primary'
- else
  %h4= "Could you be one of the first PetHomeStays for #{@search.location}?"
  %p Be the first to look after some awesome and adorable pets in your neighbourhood. You can earn extra money doing what you love, or build goodwill with other pet owners for when you need your pet looked after.
  = link_to 'Join now', new_user_registration_path, class: 'btn btn-primary'
  %hr
  %h4= "Want to sign up to be notified of new PetHomeStays in #{@search.location}?"
  %p Fill in your name and email below and we'll keep you informed of any new sitters in the region.
  %form.form-inline.notify{action: "http://send.uprise.co.nz/t/r/s/jyuitjj/", method: "post"}
    = label_tag :name
    = text_field_tag :name, '', name: "cm-name", class: 'span2'
    = label_tag 'cm-jyuitjj-jyuitjj', 'Email'
    = text_field_tag 'cm-jyuitjj-jyuitjj', '', class: 'span2'
    = hidden_field_tag 'cm-f-gdjktr', @search.location
    = submit_tag 'Notifiy me', class: 'btn btn-primary'
