.listing
  .left-column
    .title
      %h1= link_to homestay.title, homestay_path(homestay)
      %p= homestay.location
      - rating_stars 3
    .price
      %h1= number_to_currency(homestay.price)
      %p
        %i= 'per night'
    .clear
    .excerpt
      %p= homestay.description
      %p= homestay.description
  .right-column
    .thumbnail= link_to image_tag("http://placekitten.com/380/280"), homestay_path(homestay) 
    .btn.btn-large.btn-primary
      = 'View more'
