%tr.listing{'data-listing' => homestay.id}
  %td.image-cell
    - if homestay.pictures.present?
      = link_to image_tag(homestay.pictures.first.file.thumb('380x').url), homestay
    - else
      = link_to image_tag("/assets/results-placeholder.png"), homestay
    %p.rating
      - if homestay.ratings.present?
        - rating_stars homestay.average_rating
      - else
        (Not yet rated)
  %td.main-info
    %table
      %tr
        %td
          %h2= link_to homestay.title, homestay
        %td
          %p.cost-per-night
            %strong
              = number_to_currency(homestay.cost_per_night)
              per night
          %p.location= homestay.location
    %p.excerpt= truncate(homestay.description, length: 300)
    %p.view= link_to "View this listing", homestay
