.listing
  .left-column
    .title
      %h1= link_to provider.title, provider
      %p= provider.location
      - rating_stars 3
    .price
      %h1= number_to_currency(provider.cost_per_night)
      %p
        %i= 'per night'
    .clear
    .excerpt
      %p= truncate(provider.description, length: 100)
  .right-column
    .thumbnail= link_to image_tag("http://placekitten.com/380/280"), provider
    = link_to 'View more', provider, class: "btn btn-large btn-primary"
