.span4.fixed
  = form_for @search, method: 'GET', html: {class: "well"} do |f|
    = f.hidden_field :latitude
    = f.hidden_field :longitude
    = f.label :location
    = f.text_field :location, placeholder: "Wellington"
    %label Your pet prefers to...
    %label.checkbox
      = f.check_box :hotel?, name: 'search[provider_types][hotel]'
      Sleep over?
    %label.checkbox
      = f.check_box :sitter?, name: 'search[provider_types][sitter]'
      Stay at home?
    %button.btn{type: "submit"} Submit
