.span3.fixed
  = form_for @search, method: 'GET', html: {class: "well"} do |f|
    = f.hidden_field :latitude
    = f.hidden_field :longitude
    = f.label :location
    = f.text_field :location, placeholder: "Wellington", class: "span2"
    %label Your pet prefers to...
    - options_options = {selected: @search.provider_type}
    - options = options_for_select [['Sleep over', 'hotel'], ['Stay at home', 'sitter']], options_options
    = f.select :provider_type, options, {}, class: 'span2'
    %button.btn{type: "submit"} Submit
