%p#notice= notice

%dl.dl-horizontal
  %dt Title
  %dd= @homestay.title
  %dt Created
  %dd= @homestay.created_at
  %dt Provider
  %dd= @homestay.user.name
  %dt Cost per night
  %dd= @homestay.cost_per_night
  %dt Description
  %dd= @homestay.description
  %dt Is professional
  %dd= @homestay.is_professional?
  %dt Address
  %dd= @homestay.address_1


= link_to 'Edit', edit_admin_homestay_path(@homestay), class: 'btn btn-primary'
= link_to 'Back to homestay list', admin_homestays_path, class: 'btn'
