%h1 Editing Transaction

%h3 Note: * fields are required by secure pay API to complete the payment transaction

= simple_form_for([:admin, @transaction], html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  = f.input :transaction_id
  = f.input :time_stamp, disabled: true
  = f.input :merchant_fingerprint,  input_html: {class: 'input-xxlarge'}, disabled: true
  = f.input :pre_authorisation_id, :required => true
  = f.input :client_id, disabled: true, :required => true
  = f.input :response_text
  = f.input :amount, :required => true, wrapper_html: {class: 'input-append input-prepend'} do
    .add-on $
    = f.input_field :amount, class: 'span1', disabled: true

  = f.input :secure_pay_fingerprint
  = f.input :reference,disabled: true, :required => true
  = f.input :storage_text
  = f.input :status
  = f.input :card_id, disabled: true


  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', admin_transaction_path, class: 'btn'