= link_to 'Admin Dashboard', admin_dashboard_path, class: 'btn pull-right'
%h1 Listing Transactions
%table.table.tablesorter
  %thead
    %tr
      %th Guest
      %th Host
      %th Reference Id
      %th Date
      %th Pre-auth Id
      %th Response Text
      %th Amount
      %th Status
      %th Actions

  %tbody
    - @transactions.each do |transaction|
      - booking = transaction.booking
      - booking_status = booking.actual_status
      %tr{ class: booking_status == 'host has been paid' ? 'completed' : '' }
        - guest = booking.booker
        - host = booking.bookee
        %td= link_to (guest.name || 'n/a'), admin_user_path(guest)
        %td= link_to (host.name || 'n/a'), admin_user_path(host)
        %td= link_to transaction.reference, admin_view_booking_url(booking)
        %td= transaction.updated_at.strftime('%d/%m/%Y')
        %td= transaction.pre_authorisation_id
        %td= transaction.response_text
        %td= currency_formatter(transaction.amount)
        %td
          %strong= booking_status
        %td
          - if booking.status != BOOKING_STATUS_GUEST_CANCELED and booking.status != BOOKING_STATUS_HOST_CANCELED
            = link_to "Cancel Booking", admin_cancel_booking_path(booking), :method=>:post
          -else
            &nbsp;


:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
  });


