.page-header
  %h1= "#{@homestay.user.first_name} has indicated they are available"
%p Please contact all of the providers you are interested in and decide who you will use
%table.table.table-striped.table-condensed
  %tr
    %td Start date
    %td= @enquiry.formatted_date
  %tr
    %td Duration
    %td= @enquiry.pretty_duration
  %tr
    %td Provider name
    %td= @provider.name
  %tr
    %td Provider email
    %td= @provider.email
  - if @provider.phone_number
    %tr
      %td Phone number
      %td= @provider.phone_number
  - if @provider.mobile_number
    %tr
      %td Mobile number
      %td= @provider.mobile_number
.form-actions
  = form_for @enquiry, html: {class: 'form-button'}, url: enquiry_confirmation_path(@enquiry) do |f|
    = f.hidden_field :confirmed, value: true
    = f.hidden_field :owner_accepted, value: false
    = f.submit "I've decided to go with a different option", class: 'btn'
  = form_for @enquiry, html: {class: 'form-button'}, url: enquiry_confirmation_path(@enquiry) do |f|
    = f.hidden_field :confirmed, value: true
    = f.hidden_field :owner_accepted, value: true
    = f.submit "I would like to use #{@homestay.user.first_name} for this booking", class: 'btn btn-primary'
