- if @enquiry.response_id == ReferenceData::Response::ACCEPTED.id
  %h1= "#{@homestay.user.first_name.capitalize} has indicated they are available"

- elsif @enquiry.response_id == ReferenceData::Response::UNDECIDED.id
  %h1= "#{@homestay.user.first_name.capitalize} has not decided yet"

- elsif @enquiry.response_id == ReferenceData::Response::DECLINED.id
  %h1= "#{@homestay.user.first_name.capitalize} seems unavailable"
.page-header

%p He also have a following message for you:
%p.article-content= @enquiry.response_message.blank? ? '-' : @enquiry.response_message


- if @enquiry.response_id == ReferenceData::Response::ACCEPTED.id
  %p Please contact all of the providers you are interested in and decide who you will use.
  %p
    Before you confirm a booking, ALWAYS meet the person and check out their PetHomeStay. Remember, PetHomeStay don’t
    have any control over the people, owners, hosts, services or pets who are listed, nor do we take any responsibility
    for their actions. We don’t vouch for them, screen them, or approve them in any way.
  %br
  %table.table.table-striped.table-condensed
    %tr
      %td Start date
      %td= date_day_month_year_format(@enquiry.check_in_date)
    %tr
      %td Duration
      %td= @enquiry.duration.title
    %tr
      %td Provider name
      %td= @provider.name
    %tr
      %td Provider email
      %td= @provider.email
    - if @provider.phone_number
      %tr
        %td Phone number
        %td= @provider.phone_number
    - if @provider.mobile_number
      %tr
        %td Mobile number
        %td= @provider.mobile_number
    %tr
      %td Average rating for this provider
      - if @provider.received_feedbacks.present?
        %td
          - rating_stars @provider.average_rating
          = "(#{@provider.average_rating} #{'star'.pluralize(@provider.average_rating)})"
      - else
        %td User has not been rated yet...

.form-actions
  = form_for @enquiry, html: {class: 'form-button'}, url: enquiry_confirmation_path(@enquiry) do |f|
    = f.hidden_field :confirmed, value: true
    = f.hidden_field :owner_accepted, value: false
    = f.submit "I've decided to go with a different option", class: 'btn'

  - if @enquiry.response_id == ReferenceData::Response::ACCEPTED.id
    = link_to "I would like to use #{@homestay.user.first_name.capitalize} for this booking", new_booking_path(enquiry_id: @enquiry.id), class: 'btn btn-primary'
