= simple_form_for([:admin, @user]) do |f|
  = f.error_notification

  .form-inputs
    =f.input :first_name
    =f.input :last_name
    =f.input :email
    =f.input :password, required: true
    - input_html = {}
    - input_html[:class] = 'span2 checkin'
    - if ! @user.date_of_birth.nil?
      - input_html[:value]= @user.date_of_birth.strftime("%d/%m/%Y")
    =f.input :date_of_birth, as: :date_picker, wrapper_html: { class: "input-append mydatepicker" }, readonly: false, input_html: input_html
    - if not @user.provider.nil?
      =f.input :facebook_location, disabled: true
      =f.input :age_range_min, disabled: true
      =f.input :age_range_max, disabled: true
    =f.input :phone_number
    =f.input :mobile_number
    = f.input :address_1
    = f.input :address_2
    = f.input :address_suburb
    = f.input :address_city
    = f.input :address_postcode
    = f.input :address_country

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', admin_users_path(letter: 'Z'), class: 'btn'

:javascript
  $('.mydatepicker').datetimepicker({ language: 'en', pickTime: false, format: 'dd/MM/yyyy' });
