%p#notice= notice

%dl.dl-horizontal
  %dt Name
  %dd= @user.name
  %dt Joined
  %dd= l @user.created_at
  %dt Email
  %dd= @user.email
  %dt Homestay
  %dd= @user.homestay.present? ? @user.homestay.title : 'no homestay'
  %dt Pets
  %dd= @user.pets.count
  %dt Date of birth
  %dd= @user.date_of_birth
  - if not @user.provider.nil?
    - if not @user.facebook_location.nil?
      %dt Facebook Location
      %dd= @user.facebook_location
    %dt Age range minimum
    %dd= @user.age_range_min
    -if not @user.age_range_max.nil?
      %dt Age range maximum
      %dd= @user.age_range_max
  %dt Phone
  %dd= @user.phone_number.present? ? @user.phone_number : '-'
  %dt Mobile
  %dd= @user.mobile_number.present? ? @user.mobile_number : '-'
  %dt Address
  %dd
    = @user.address_1
    = @user.address_2
    %br
    = "#{@user.address_suburb}, #{@user.address_postcode}"

= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-primary'
= link_to 'Back to user list', admin_users_path(letter: 'A'), class: 'btn'
