.row
  .span7
    .row
      .span5
        %h1= @hotel.title
        %p= @hotel.location
        - rating_stars 3
        .btn.btn-success= 'Send an email'
        .btn= '021 262 8832'
      .span2.pricing
        %h1= number_to_currency(@hotel.price)
        %p
          %i= 'per night'
    .description
      %p= @hotel.description
      %p= @hotel.description
      %p= @hotel.description  
    .well.quick-contact
      %h4= 'Enquire with this pet provider:'  
      %form.quick-contact
        %label= 'Your name'
        %input.input-xlarge{type: "text"}
        %label= 'Email address'
        %input.input-xlarge{type: "email"}
        %label= 'Enquiry message'
        %textarea.input-xlarge{rows: "7"}
        %button.btn.btn-primary.btn-large= 'Send your message'
  .span5
    .slider  
      = link_to image_tag("http://placekitten.com/380/280"), hotel_path(@hotel.id), class: "thumbnail"
    .map
      .thumbnail= image_tag("map.png")
      