.row
  .span7
    .row
      - if my_hotel?(@hotel)
        .span7= render partial: 'providers/edit_listing', locals: {provider: @hotel}
      .span5
        %h1= @hotel.title
        %p= "#{@hotel.address_suburb}, #{@hotel.address_city}"
        %p.rating
          - rating_stars @hotel.average_rating
          - if @reviewed_ratings.present?
            %span= link_to "(Read reviews)", "#reviews"
          - else
            %span (No reviews yet)
      .span2.pricing
        %h1= number_to_currency(@hotel.cost_per_night)
        %p
          %i per night
    .description
      %p= simple_format @hotel.description
    - unless my_hotel?(@hotel)
      - if signed_in?
        = render partial: 'providers/enquire', locals: {provider: @hotel}
      - else
        .well.listing-form
          = render partial: 'providers/contact_sign_in_form', locals: {provider: @hotel}
          = render partial: 'providers/contact_sign_up_form', locals: {provider: @hotel}
    .clear
    = render partial: 'providers/reviews', locals: {provider: @hotel, reviews: @reviewed_ratings}
  .span5
    %ul.thumbnails
      - if @hotel.pictures.present?
        %li.span5
          .slider
            = link_to image_tag(@hotel.pictures.first.file.thumb('380x').url), @hotel, class: "thumbnail"
      %li.span5
        #map.thumbnail
        - map_js_src = "http://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&sensor=true"
        %script{type: "application/javascript", src: map_js_src}
        %script{type: "application/javascript", src: "/assets/gmaps.js"}
        :javascript
          initMap(#{@hotel.latitude.round(3)}, #{@hotel.longitude.round(3)}, {
            zoom: 16,
            mapTypeControl: false,
            streetViewControl: false,
            zoom_changed: function(){if(map.map.getZoom() > 15) { map.setZoom(15); }
          }})
          setupMarker(#{@hotel.latitude}, #{@hotel.longitude})
      - if signed_in? && !my_hotel?(@hotel)
        %li.span5= render partial: 'providers/give_rating', locals: {provider: @hotel, my_rating: @my_rating}
