.row
  .span7
    .row
      - if my_hotel?(@hotel)
        = render partial: 'providers/edit_listing', locals: {provider: @hotel}
      .span5
        %h1= @hotel.title
        %p= @hotel.location
        %p.rating
          - rating_stars @hotel.average_rating
          %span= link_to "(Read reviews)", "#reviews"
      .span2.pricing
        %h1= number_to_currency(@hotel.cost_per_night)
        %p
          %i per night
    .description
      %p= simple_format @hotel.description
    - unless my_hotel?(@hotel)
      = render partial: 'providers/contact_details', locals: {provider: @hotel}
    .clear
    = render partial: 'providers/reviews', locals: {provider: @hotel}
  .span5
    %ul.thumbnails
      - if @hotel.pictures.present?
        %li.span5
          .slider
            = link_to image_tag(@hotel.pictures.first.file.thumb('380x').url), hotel_path(@hotel.id), class: "thumbnail"
      %li.span5
        #map.thumbnail
        - map_js_src = "http://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&sensor=true"
        %script{type: "application/javascript", src: map_js_src}
        %script{type: "application/javascript", src: "/assets/gmaps.js"}
        :javascript
          initMap(#{@hotel.latitude}, #{@hotel.longitude}, {zoom: 18, mapType: 'Hybrid'})
          setupMarker(#{@hotel.latitude}, #{@hotel.longitude})
