.row
  .span7
    .row
      .span5
        %h1= @hotel.title
        %p= @hotel.location
        - rating_stars 3
        .btn.btn-success Send an email
        .btn 021 262 8832
      .span2.pricing
        %h1= number_to_currency(@hotel.price)
        %p
          %i per night
    .description
      %p= @hotel.description
      %p= @hotel.description
      %p= @hotel.description
    = render partial: 'providers/contact_details', locals: {provider: @hotel}
    .clear
  .span5
    .slider
      = link_to image_tag("http://placekitten.com/380/280"), hotel_path(@hotel.id), class: "thumbnail"
    .map
      .thumbnail= image_tag("map.png")
      