= link_to 'My Account', my_account_path, class: 'btn pull-right'
.row.row-margin-top
  .span6
    %table.table.table-striped
      %caption
        Recent Signups
        =link_to 'view all', admin_users_path, class: 'admin'
      %thead
        %tr
          %th name
          %th signed up
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.name
            %td
              = "#{time_ago_in_words user.created_at} ago"

    %table.table.table-striped
      %caption
        Recent Homestays
        =link_to 'view all', admin_homestays_path, class: 'admin'
      %thead
        %tr
          %th title
          %th created
      %tbody
        - @homestays.each do |homestay|
          %tr
            %td
              = homestay.title
            %td
              = "#{time_ago_in_words homestay.created_at} ago"
  .span6
    %table.table.table-striped
      %caption summary stats
      %thead
        %tr
          %th type
          %th count
      %tbody
        - @stats.each do |key, value|
          %tr
            %td
              = key.to_s.titleize
            %td
              = value

    %table.table.table-striped
      %caption
        Recent Enquiries
        = link_to 'view all', admin_enquiries_path, class: 'admin'
      %thead
        %tr
          %th summary
          %th created
      %tbody
        - @enquiries.each do |enquiry|
          %tr
            %td
              = "From"
              = link_to enquiry.user.name, admin_user_path(enquiry.user.id)
              = " to #{enquiry.homestay.title}"
            %td
              = "#{time_ago_in_words enquiry.created_at} ago"

  .span6
    %table.table.table-striped
      %caption
        Recent Bookings
        = link_to 'view all', admin_bookings_path, class: 'admin'
      %thead
        %tr
          %th host
          %th guest
          %th created
      %tbody
        - @bookings.each do |booking|
          - if booking.bookee.present? && booking.booker.present?
            %tr
              %td
                = link_to booking.bookee.name, admin_user_path(booking.bookee.id)
              %td
                = link_to booking.booker.name, admin_user_path(booking.booker.id)
              %td
                = "#{time_ago_in_words booking.created_at} ago"