.row
  .span6
    %table.table.table-striped
      %caption
        Recent Signups
        =link_to 'view all', admin_users_path, class: 'admin'
      %thead
        %tr
          %th name
          %th signed up
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.name
            %td
              = "#{time_ago_in_words user.created_at} ago"

    %table.table.table-striped
      %caption
        Recent Homestays
        =link_to 'view all', admin_homestays_path, class: 'admin'
      %thead
        %tr
          %th title
          %th signed up
      %tbody
        - @homestays.each do |homestay|
          %tr
            %td
              = homestay.title
            %td
              = "#{time_ago_in_words homestay.created_at} ago"
  .span6
    %table.table.table-striped
      %caption summary stats
      %thead
        %tr
          %th type
          %th count
      %tbody
        - @stats.each do |key, value|
          %tr
            %td
              = key.to_s.titleize
            %td
              = value
