%h2 Great! You want to look after pets in your own space.
%p We need to know some basic information about your pet hotel so we can put you in touch with eager pet owners.
.progress
  .bar{style: "width: 0%"}
= render layout: 'form' do |f|
  %h3
    Rate per night
    %small How much do you charge?
    .control-group
      = label_tag :cost_per_night, "Price (#{I18n.t('currency')})", class: 'control-label'
      .controls
        .input-prepend.input-append
          .add-on $
          = text_field :hotel, :cost_per_night
          .add-on .00
  %h3
    Your place
    %small Where are you?
  = f.text_field :address_1, 'Street'
  .control-group
    .controls
      = text_field :hotel, :address_2
  = f.text_field :address_suburb, 'Suburb'
  = f.text_field :address_city, 'City'
  = f.country_select :address_country, 'Country', {priority: country_priority}
