%h2 Enter your pet hotel details
%p We need to know some basic information about your pet hotel so we can put you in touch with eager pet owners.
.progress
  .bar{style: "width: 0%"}
= render layout: 'form' do |f|
  %h3
    Rate per night
    %small How much do you charge?
    .control-group
      = f.label :cost_per_night, "Price (#{I18n.t('currency')})", class: 'control-label'
      .controls
        .input-prepend.input-append
          .add-on $
          = f.text_field :cost_per_night
          .add-on .00
  %h3
    Pet hotel address
    %small Where are you?
  .control-group
    = f.label :address_1, class: 'control-label'
    .controls
      = f.text_field :address_1
  .control-group
    = f.label :address_2, class: 'control-label'
    .controls
      = f.text_field :address_2
  .control-group
    = f.label :address_suburb, 'Suburb', class: 'control-label'
    .controls
      = f.text_field :address_suburb
  .control-group
    = f.label :address_city, 'City', class: 'control-label'
    .controls
      = f.text_field :address_city
