%h2 Enter your pet hotel details
%p Please complete your hotel profile
.progress
  .bar{style: "width: 66%"} 
%h3 
= render layout: 'form' do |f|
  = f.text_field :title
  = f.text_area :description, class: 'span8', rows: 10
  = f.fields_for @hotel.pictures.build do |f|
    = f.file_field :file
