
.foot-container
    %nav
        %h3 SUPPORT
        %h2.item= link_to "Pet Owner FAQ"
        %h2.item= link_to "Host FAQ"
        %h2.item= link_to "Support Center"
        %h2.item Call 0555-555-555

    %nav.hide
        %h3 LEARN MORE
        %h2.item= link_to "Blog"
        %h2.item= link_to "Become a Sitter"
        %h2.item= link_to "Charity Donations"
        %h2.item= link_to "Contact Us"
    %nav.hide
        %h3 LEARN MORE
        %h2.item= link_to "Blog"
        %h2.item= link_to "Become a Sitter"
        %h2.item= link_to "Charity Donations"
        %h2.item= link_to "Contact Us"

    %nav.hide
        %h3 LEARN MORE
        %h2.item= link_to "Blog"
        %h2.item= link_to "Become a Sitter"
        %h2.item= link_to "Charity Donations"
        %h2.item= link_to "Contact Us"


