%h1.text-center Admin Coupon Generator
= simple_form_for @coupon, url: create_coupon_admin_coupons_path, wrapper: :bootstrap3, :html => {:class => 'inline-form'}, :method => 'post' do |f|
  .row-fluid
    .span6
      = f.association :owner, collection: User.all.sort_by(&:name), prompt: "Choose a User (can type name in)", :required => true
    .span6
      = f.input :code, :input_html => {:maxlength => 7}, :required => true
  .row-fluid
    .span6
      = f.input :discount_amount, :label => "Discount", :required => true, input_html: { min: '0', step: 'any' }
      = f.hint 'Dollar or Percent amount'
    .span6
      = f.input :credit_referrer_amount, :required => true, input_html: { min: '0', step: 'any' }
      = f.hint 'Dollar amount'
  = f.input :valid_from, :required => true, start_year: Date.today.year,  order: [:day, :month, :year]
  = f.input :valid_to, :required => true, start_year: Date.today.year + 1,  order: [:day, :month, :year]
  = f.input :coupon_limit
  = f.input :discount_is_percentage, :label => "Percentage Discount", :as => :boolean
  = f.input :admin_mass_code, :label => "Assignable only by admin", :as => :boolean

  = f.submit "Create", class: 'btn btn-primary'

%hr/

%h1.text-center
  = link_to "Mass Assign", mass_assign_coupon_code_admin_coupons_path

%h1.text-center Force expire
= form_tag(expire_coupon_admin_coupons_path, method: 'post', remote: true, :id => "expire_coupon_form") do
  = select "expiring_coupon", "id", Coupon.valid.collect {|cc| [cc.code, cc.id]}, {include_blank: true}
  = submit_tag "Expire", class: 'btn btn-primary', confirm: "Are you sure you want to expire this coupon, all unpaid bookings with this coupon will be affected"

%h1.text-center Used Coupons
%table.table.tablesorter
  %thead
    %tr
      %th Referrer
      %th Code
      %th Used by
      %th Applied by (braintree_id)
  %tbody
    - if @applied_coupons.any?
      - @applied_coupons.each do |usage|
        %tr
          %td= usage.coupon.owner.name
          %td= usage.coupon.code
          %td= usage.user.name
          %td= usage.booking.present? ? usage.booking.payment.braintree_transaction_id : "N/A"

%h1.text-center Expired Coupons
%table.table.tablesorter
  %thead
    %tr
      %th Referrer
      %th Code
      %th Expired on
      %th Users affected
  %tbody
    - if @expired_coupons.any?
      - @expired_coupons.each do |coupon|
        %tr
          %td= coupon.owner.name
          %td= coupon.code
          %td= coupon.valid_to
          %td= CouponUsage.where("coupon_id = ? and booking_id IS NULL", coupon.id).collect(&:user).collect(&:name).join("<br>").html_safe

:javascript
  $(document).ready(function(){
    $('table.tablesorter').tablesorter({headers:{3:{sorter:false}}});
    $('#expire_coupon_form').bind("ajax:success", function(){
      location.reload();
    });
    $('#expire_coupon_form').bind("ajax:failure", function(){
      location.reload();
    });
  });
