.page-header
  %h1= "#{@user.first_name} would like to make a booking"
%table.table.table-striped.table-condensed
  - unless @enquiry.check_in_date.blank?
    %tr
      %td Check in date
      %td= date_day_month_year_format(@enquiry.check_in_date)
  - unless @enquiry.check_out_date.blank?
    %tr
      %td Check out date
      %td= date_day_month_year_format(@enquiry.check_out_date)
  %tr
    %td Duration
    %td= @enquiry.duration_name
  %tr
    %td Message
    - if @enquiry.message.present?
      %td= @enquiry.message
    - else
      %td No message...
  %tr
    %td Average rating for this user
    - if @user.received_feedbacks.present?
      %td
        - rating_stars @user.average_rating
        = "(#{@user.average_rating} #{'star'.pluralize(@user.average_rating)})"
    - else
      %td User has not been rated yet...
%h2 Pets
- @user.pets.each do |pet|
  .row
    .span3
      - if pet.pictures.present?
        = image_tag(pet.pictures.first.file.thumb('220x').url)
    - width_class = pet.pictures.present? ? 'span9' : 'span12'
    %div{class: width_class}
      %table.table.table-striped.table-condensed
        %tr
          %td Name
          %td= pet.name
        %tr
          %td Type
          %td= pet.pet_type_name
        %tr
          %td Age
          %td= pet.age
        - if pet.size
          %tr
            %td Size
            %td= pet.size_name
        - if pet.sex
          %tr
            %td Sex
            %td= pet.sex_name
        %tr
          %td Dislikes
          %td= pet.dislikes
        - unless pet.dislikes.blank?
          %tr
            %td More information about dislikes
            %td= pet.explain_dislikes
  .clearfix
%h2 Price
- total_cost = @enquiry.stay_length * @enquiry.homestay.cost_per_night
%table.table.table-striped.table-condensed
  %tr
    %td.current-daily-price Daily Price
    %td= number_to_currency(@enquiry.homestay.cost_per_night)
  %tr
    %td.current-total-price Total Price
    %td= "#{@enquiry.stay_length} days x #{number_to_currency(@enquiry.homestay.cost_per_night)} per night = #{number_to_currency(total_cost)}"
  %tr.modify-pricing{:id => "proposed-per-night"}
    %td Proposed Per Night Price
    %td
      %input{:type => "number", :step => "any", :min => 0, :placeholder => "#{number_to_currency(@enquiry.homestay.cost_per_night)}", :id => "per-night"}
  %tr.modify-pricing{:id => "proposed-total-price"}
    %td Proposed Total Price
    %td
      %input{:type => "number", :step => "any", :min => 0, :placeholder => "#{number_to_currency(total_cost)}", :id => "total-stay"}
  %tr.modify-pricing
    %td Total Host Payout
    %td
      %input{:type => "number", :disabled => true, :id => "host-payout"}
  %tr
    %td{:colspan => 2}
      %span.btn.btn-primary{:id => 'modify-price-button'} Click here to modify pricing
%p Accepting this request does not confirm a booking, it just lets the Pet Owner know that you are available on the dates requested for their pet. The next step is for the Owner to contact the Host and confirm a booking if they wish to proceed.
= simple_form_for @enquiry, html: {class: 'form-button'} do |f|
  = f.input :proposed_per_day_price, as: :hidden
  .row
    .span5
      = f.input :response_id, required: true, as: :radio_buttons, label_method: :description, checked: 2,
                collection: ReferenceData::Response.find_by_ids([2,3,4])
    .span7
      = f.input :response_message, input_html: {rows: 5, class: 'input-xxlarge'}, placeholder: "If you respond 'I might be able to look after the pet' a message is required to explain to the pet owner what you mean. For yes or no answers you can also provide a message if you wish to give the pet owner more information. Responding 'No' or 'maybe' will end this enquiry and the pet owner will have to enquire again to get your details and confirm a booking."

  .form-actions
    =f.submit 'Send Response', class: 'btn btn-primary'
:javascript
  $(document).ready(function(){
    $(".modify-pricing").hide();
    $("#modify-price-button").on("click", function() {
      $(".modify-pricing").toggle();
      $(".current-total-price").text("Current Total Price");
      $(".current-daily-price").text("Current Daily Price");
      $(this).hide();
    });
    $("#per-night").bind("change keyup input", function(){
      var number_of_nights = parseFloat("#{@enquiry.stay_length}");
      var per_night = parseFloat($(this).val()).toFixed(2);
      var total = per_night * number_of_nights
      var payout = total - (total * 0.15) - 2 * number_of_nights;
      $("#total-stay").val(total);
      $("#total-stay").attr("disabled", "disabled");
      $("#host-payout").val(payout);
    });
    $("#total-stay").bind("keyup", function(){
      var number_of_nights = parseFloat("#{@enquiry.stay_length}");
      var total = parseFloat($(this).val()).toFixed(2);
      var per_night = (total/number_of_nights).toFixed(2);
      var payout = total - (total * 0.15) - 2 * number_of_nights;
      $("#per-night").val(per_night);
      $("#per-night").attr("disabled", "disabled");
      $("#host-payout").val(payout);
    });
    $('form').on("submit", function(){
      if ($("#per-night").val() != "") {
        var proposed_per_night_price = parseFloat($("#per-night").val()).toFixed(2);
        $("#enquiry_proposed_per_day_price").val(proposed_per_night_price);
      }
    });
  });


