.page-header
  %h1= "#{@user.first_name} would like to make a booking"
%table.table.table-striped.table-condensed
  %tr
    %td Start date
    %td= @enquiry.formatted_date
  %tr
    %td Duration
    %td= @enquiry.pretty_duration
  %tr
    %td Message
    - if @enquiry.message.present?
      %td= @enquiry.message
    - else
      %td No message...
  %tr
    %td Average rating for this user
    - if @user.received_feedbacks.present?
      %td
        - rating_stars @user.average_rating
        = "(#{@user.average_rating} #{'star'.pluralize(@user.average_rating)})"
    - else
      %td User has not been rated yet...
%h2 Pets
- @pets.each do |pet|
  .row
    .span3
      - if pet.pictures.present?
        = image_tag(pet.pictures.first.file.thumb('220x').url)
      - else
        Pet has no images.. put a placeholder image here.
    .span9
      %table.table.table-striped.table-condensed
        %tr
          %td Name
          %td= pet.name
        %tr
          %td Type
          %td= pet.pretty_pet_type
        %tr
          %td Age
          %td= pet.age
        %tr
          %td Size
          %td= pet.pretty_size
        %tr
          %td Sex
          %td= pet.pretty_sex
        %tr
          %td Dislikes
          %td= pet.dislikes
        - unless pet.dislikes.blank?
          %tr
            %td More information about dislikes
            %td= pet.explain_dislikes
  .clearfix
.form-actions
  = form_for @enquiry, html: {class: 'form-button'} do |f|
    = f.hidden_field :responded, value: true
    = f.hidden_field :accepted, value: false
    = f.submit "Can't do it", class: 'btn'
  = form_for @enquiry, html: {class: 'form-button'} do |f|
    = f.hidden_field :responded, value: true
    = f.hidden_field :accepted, value: true
    = f.submit "I would like to contact #{@user.first_name}", class: 'btn btn-primary'
