.page-header
  %h1= "#{@user.first_name} would like to make a booking"
%table.table.table-striped.table-condensed
  %tr
    %td Start date
    %td= @enquiry.formatted_date
  %tr
    %td Duration
    %td= @enquiry.duration.title
  %tr
    %td Message
    - if @enquiry.message.present?
      %td= @enquiry.message
    - else
      %td No message...
  %tr
    %td Average rating for this user
    - if @user.received_feedbacks.present?
      %td
        - rating_stars @user.average_rating
        = "(#{@user.average_rating} #{'star'.pluralize(@user.average_rating)})"
    - else
      %td User has not been rated yet...
%h2 Pets
- @pets.each do |pet|
  .row
    .span3
      - if pet.pictures.present?
        = image_tag(pet.pictures.first.file.thumb('220x').url)
    - width_class = pet.pictures.present? ? 'span9' : 'span12'
    %div{class: width_class}
      %table.table.table-striped.table-condensed
        %tr
          %td Name
          %td= pet.name
        %tr
          %td Type
          %td= pet.pet_type_name
        %tr
          %td Age
          %td= pet.age
        - if pet.size
          %tr
            %td Size
            %td= pet.size_name
        - if pet.sex
          %tr
            %td Sex
            %td= pet.sex_name
        %tr
          %td Dislikes
          %td= pet.dislikes
        - unless pet.dislikes.blank?
          %tr
            %td More information about dislikes
            %td= pet.explain_dislikes
  .clearfix
%p Accepting this request does not confirm a booking, it just lets the Pet Owner know that you are available on the dates requested for their pet. The next step is for the Owner to contact the Host and confirm a booking if they wish to proceed.
.form-actions
  = form_for @enquiry, html: {class: 'form-button'} do |f|
    = f.hidden_field :responded, value: true
    = f.hidden_field :accepted, value: false
    = f.submit "Can't do it", class: 'btn'
  = form_for @enquiry, html: {class: 'form-button'} do |f|
    = f.hidden_field :responded, value: true
    = f.hidden_field :accepted, value: true
    = f.submit "Yes, I am available to look after the pet", class: 'btn btn-primary'
