%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if params[:action] == 'home'
        = link_to "Pet Homestay", root_path, class: "brand large"
      - else
        = link_to "Pet Homestay", root_path, class: "brand"
      - if not user_signed_in?
        %ul.nav
          %li= link_to "Blog", blogit_path
          %li= link_to "Become a Host", why_join_path

          %li.login-dropdown
            %a.behaviour-popup-trigger{:href => '#'} Login
            .popup.popover.bottom
              .popover-inner
                = form_tag user_session_path, class: "well" do
                  = email_field_tag 'user[email]', '', :placeholder => 'Email'
                  = password_field_tag 'user[password]', '', :placeholder => 'Password'
                  %label.checkbox
                    = check_box_tag 'user[remember_me]'
                    Remember me
                  = submit_tag 'Sign in', :class => 'btn btn-primary'
                  .divider
                  = link_to "Forgot your password?",  new_user_password_path
      = render partial: 'layouts/navbar_login_dropdown'


