%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - if params[:action] == 'home'
        = link_to "Pet Homestay", root_path, class: "brand large"
      - else
        = link_to "Pet Homestay", root_path, class: "brand"
      %ul.nav
        %li
          = link_to "Why join PetHomeStay?", why_join_path
        %li
          = link_to "How does it work?", how_does_it_work_path
      = render partial: 'layouts/navbar_login_dropdown'
