%div.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Pet Homestay", root_path, class: "brand"
      %ul.nav
        %li
          = link_to "How it works", how_it_works_path
        %li
          = link_to "Why Pet Homestay", why_pet_homestay_path
        %li
          = link_to "Contact us", contact_path
      = render partial: 'layouts/navbar_login_dropdown'
