%ul.nav.pull-right
  - unless user_signed_in?
    %li.cta= link_to "Become a host", new_user_registration_path, class: 'btn btn-mini btn-primary'
    %li.login-dropdown
      %a.behaviour-popup-trigger{:href => '#'} Sign in
      .popup.popover.bottom
        .popover-inner
          = form_tag user_session_path, class: "well" do
            = email_field_tag 'user[email]', '', :placeholder => 'Email'
            = password_field_tag 'user[password]', '', :placeholder => 'Password'
            %label.checkbox
              = check_box_tag 'user[remember_me]'
              Remember me
            = submit_tag 'Sign in', :class => 'btn btn-primary'
            .divider
            = link_to "Forgot your password?", new_user_password_path
  - else
    - if current_user.notifications?
      %li.cta
        %a.btn.btn-mini.btn-primary{href: my_account_path}
          My Account
          %span.notification{title: 'You have notifications waiting'} !
    - else
      %li.cta= link_to "My Account", my_account_path, class: 'btn btn-mini btn-primary'
    %li
      = link_to "Sign out", destroy_user_session_path, method: :delete
