%ul.nav.nav-pills
  %li.messages
    = link_to 'Messages', mailboxes_path
  %li.favourites
    = link_to 'Favourites', favourites_homestays_path
  %li.bookings
    = link_to 'My Bookings', bookings_path
  %li.trips
    = link_to 'My Trips', trips_bookings_path
  %li.account
    = link_to 'My Account', my_account_path