%ul.nav.nav-pills
  %li.messages
    = link_to 'Messages', mailboxes_path
  %li.favourites.disabled
    = link_to 'Favourites', '#'
  %li.bookings
    = link_to 'My Bookings', bookings_path
  %li.trips.disabled
    = link_to 'My Trips', '#'
  %li.account
    = link_to 'My Account', my_account_path