<!DOCTYPE html>
<html>
<head>
  <title>Pet Homestay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: 'layouts/navbar' %>
	<div class="container main">
    <%= yield %>
    <hr>
    <footer>
      <p>© Pet Homestay 2012</p>
    </footer>
  </div>
</body>
</html>
