!!!
%html
  %head
    %title
      = formatted_title(@title)
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:400,700'
    = stylesheet_link_tag 'application'
    = javascript_include_tag google_maps_source_url
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render partial: 'layouts/google_analytics' if not ENV['APP_ID'] == "642031549187678" #this Facebook app id is for the local dev
    = yield :open_graph_tags
  %body
    = render partial: 'layouts/facebook_tag'
    = render partial: 'layouts/navbar'
    .container.main
      = render "layouts/flash_messages", :locals => {:flash => flash}
      = yield
      %hr
      = render partial: "layouts/footer"
      = render partial: "layouts/feedbackify"
