<!DOCTYPE html>
<html>
<head>
  <title>Pet Homestay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: 'layouts/navbar' %>
  <% if params[:action] == 'home' %>
    <%= render partial: 'layouts/big_search' %>
  <% end %>
	<div class="container main">
    <%= render "layouts/flash_messages", :locals => {:flash => flash} %>
    <%= yield %>
    <hr>
    <%= render partial: "layouts/footer" %>
  </div>
</body>
</html>
