<!DOCTYPE html>
<html>
<head>
  <title><%= formatted_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://use.typekit.com/tfa5abi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag google_maps_source_url %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/facebook_tag' %>
	<%= render partial: 'layouts/navbar' %>
  <% if params[:action] == 'home' %>
    <%= render partial: 'layouts/big_search' %>
  <% end %>
	<div class="container main">
    <%= render "layouts/flash_messages", :locals => {:flash => flash} %>
    <%= yield %>
    <hr>
    <%= render partial: "layouts/footer" %>
  </div>
</body>
</html>
