!!!
%html
  %head
    %title
      = formatted_title(@title)
    = stylesheet_link_tag 'new_application'
    = stylesheet_link_tag 'application'
    = javascript_include_tag google_maps_source_url
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render partial: 'layouts/google_analytics' if not ENV['APP_ID'] == '642031549187678' #this Facebook app id is for the local dev
    = render partial: 'layouts/crazy_egg' unless ENV['APP_ID'] == '642031549187678' #this Facebook app id is for the local dev
    = yield :open_graph_tags
    = yield :head
  %body
    = render partial: 'layouts/facebook_tag'
    - if user_signed_in?
      = render partial: 'layouts/nav_bar_signed_in'
    - else
      = render partial: 'layouts/nav_bar'
    - current_user_present = !current_user.blank? && @homepage.blank?
    - if current_user_present
      .span2.sidebar-nav
        = yield :sidebar_navigation

    -if @homepage.blank? or !@homepage
      .container.main{ class: current_user_present ? 'main-changes' :  '' }
        = render partial: 'layouts/nav_layouts', :locals => {:flash => flash, :current_user_present => current_user_present}
    -else
      .main{ class: current_user_present ? 'main-changes' :  '' }
        = render partial: 'layouts/nav_layouts', :locals => {:flash => flash, :current_user_present => current_user_present}
      %script{type: "text/javascript"}
        :plain
           /* <![CDATA[ */
           var google_conversion_id = 985769911;
           var google_conversion_value = 0;
           var google_custom_params = window.google_tag_params;
           var google_remarketing_only = true;
           /* ]]> */

      %script{type: "text/javascript", src:"//www.googleadservices.com/pagead/conversion.js"}
      %noscript
        %div{style: "display:inline;"}
          %img{height: "1", width: "1", style: "border-style:none;", alt: "", src: "//googleads.g.doubleclick.net/pagead/viewthroughconversion/985769911/?value=0&amp;guid=ON&amp;script=0"}
    -if @welcome
      %script{type: "text/javascript"}
        :plain
          /* <![CDATA[ */
          var google_conversion_id = 985769911;
          var google_conversion_language = "en";
          var google_conversion_format = "1";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "2nieCPnE5ggQt8-G1gM";
          var google_remarketing_only = false;
          var google_conversion_value = 0;
          /* ]]> */

      %script{type: "text/javascript", src: "//www.googleadservices.com/pagead/conversion.js"}
      %noscript
        %div{style: "display:inline;"}
          %img{height: "1",style: "border-style:none;", alt: "", src: "//www.googleadservices.com/pagead/conversion/985769911/?label=2nieCPnE5ggQt8-G1gM&amp;guid=ON&amp;script=0"}
    .clearer{style: "clear: left;"}
    = render partial: 'layouts/footer'
