!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title
      = formatted_title(@title)
    = stylesheet_link_tag 'application'
    = javascript_include_tag google_maps_source_url
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render partial: 'shared/tracking/google_analytics' if ENV['APP_ID'] == '359693007532798' #this Facebook app id is for production
    = render partial: 'shared/tracking/crazy_egg' if ENV['APP_ID'] == '359693007532798' #this Facebook app id is for production
    = yield :open_graph_tags
    = yield :head
  %body
    - if Rails.env.production?
      = render 'shared/tag_manager'
    = render partial: 'shared/nav_bar_compatible'
    - current_user_present = !current_user.blank? && @homepage.blank?

    -if @homepage.blank? or !@homepage
      .container.main{ class: current_user_present ? 'main-changes' :  '' }
        = render partial: 'layouts/nav_layouts', :locals => {:flash => flash, :current_user_present => current_user_present}
    -else
      .main{ class: current_user_present ? 'main-changes' :  '' }
        = render partial: 'layouts/nav_layouts', :locals => {:flash => flash, :current_user_present => current_user_present}
    .clearer{style: "clear: left;"}
    = render partial: 'shared/footer_compatible'
