!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title= formatted_title(@title)
    = javascript_include_tag "dashboard/dashboard_application"
    = stylesheet_link_tag 'dashboard_layouts/layout'
    = csrf_meta_tags
  %body

    .primary-nav
      .container
        .phs-title
          = image_tag 'favicon.ico'
          = image_tag '/phs-logo.svg'
        .search-form
          %i.icon.ion-android-search
          .field= text_field "address",nil,size: "25", class: "field-input", placeholder: "search address"

        %nav.customer-center
          %h1.-profile.dropdown
            .dropdown-button
              = image_tag 'favicon.ico', size: "34x34", class: "avatar"
              .username Alba
              %i.icon.ion-arrow-up-b
            %ul.dropdown-menu.dropdown-select
              %li profile
              %li notifications
              %li payments


          %h1.-notification.dropdown
            .dropdown-button
              %i.icon.ion-ios7-bell
            %ul.dropdown-menu.dropdown-select
              %li Dropdown Menu Item
              %li Another Item
              %li Item Three
              %li The Last One
            
          %h1.-coupon  Give $10, Get $10

    .second-nav
      .main-tab.active Activity
      .main-tab My Pets
      .main-tab My Services
      .main-tab.pull-right.dropdown
        .dropdown-button
          %i.icon.ion-ios7-calendar-outline
          %i.icon.ion-arrow-up-b
        .dropdown-menu
          %p this is the calendar area

    .welcome-bar this is welcome bar
    = yield
    .footer 
      = render "shared/new_footer"



:javascript

    $(".dropdown-button").click(function() {
      var $button, $menu;
      $button = $(this);
      $menu = $button.siblings(".dropdown-menu");
      $menu.toggleClass("show-menu");
      $menu.children("li").click(function() {
        $menu.removeClass("show-menu");
      });
    });



