!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title= formatted_title(@title)
    = stylesheet_link_tag 'dashboard_layouts/layout'
    = csrf_meta_tags
  %body
    .primary-nav
      = image_tag 'favicon.ico', height: "80%"
      = image_tag '/phs-logo.svg'
      <span class="iconic iconic-sm" data-glyph="magnifying-glass" title="magnifying glass" aria-hidden="true"></span>
    .second-nav this is second nav
    .welcome-bar this is welcome bar
    = yield
    .footer 
      = render "shared/new_footer"

