!!! 5
%html
    %head
        %meta{charset: "utf-8"}
        %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
        %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
        %title PetHomestay
        = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
        = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
        = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
        -# Font Ubuntu & Ubuntu Medium
        = stylesheet_link_tag "//fonts.googleapis.com/css?family=Ubuntu:400,500"
        = yield :head_stylesheet
        %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
        %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
        = yield :head_javascript
    %body
        = render partial: 'home/nav_bar'
        = yield
        = render partial: 'home/footer'
