!!! 5
%html
    %head
        %meta{charset: "utf-8"}
        %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
        %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
        %title PetHomeStay
        = render partial: 'layouts/google_analytics' if ENV['APP_ID'] == '262506980584735' #this Facebook app id is for production
        = render partial: 'layouts/crazy_egg' if ENV['APP_ID'] == '262506980584735' #this Facebook app id is for production
        = stylesheet_link_tag "new_application"
        = yield :head_stylesheet
        %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
        %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
        = javascript_include_tag 'new_application'
        = yield :head_javascript
    %body
        - if defined? resource
            = render partial: 'shared/flash_messages', locals: {flash: flash, resource: resource}
        - else
            = render partial: 'shared/flash_messages', locals: {flash: flash}
        = render partial: 'layouts/facebook_tag'
        = render partial: 'layouts/nav_bar'
        = yield
        = render partial: 'layouts/footer'
