.page-header
  .pull-left
    %h1 Payout details
  .pull-right
  .clear

= simple_form_for @account, html: { class: 'form-horizontal' } do |f|
  .control-group.string
    %label.string.control-label Account Name:
    .controls
      %p.control-content= @account.name
  .control-group.string
    %label.string.control-label Bank:
    .controls
      %p.control-content= @account.bank
  .control-group.string
    %label.string.control-label BSB:
    .controls
      %p.control-content= @account.bsb
  .control-group.string
    %label.string.control-label Account number:
    .controls
      %p.control-content= @account.hidden_account_number

  .form-actions
    = link_to 'Edit', edit_account_path(@account), class: 'btn btn-primary'